footer
    .container.clearfix
        .footer__right
            .bg
            .footer__phone
                a(href='tel:+0800301585') 0 800 30-15-85
                p Бесплатно со стационарных и мобильных телефонов Украины
            .footer__soc
                .footer__soc-title Следите за нами в соцсетях:
                a.soc-fb(href='#')
                a.soc-g(href='#')
                a.soc-tw(href='#')
                a.soc-yt(href='#')
                a.soc-vk(href='#')
                a.soc-ins(href='#')
        .footer__left
            .clearfix
                .footer__item
                    .footer__title Каталог
                    ul.footer__list
                        li
                            a(href='#') Электроника
                        li
                            a(href='#') Звук и видео
                        li
                            a(href='#') Запчасти и расходники
                        li
                            a(href='#') Свет (освещение)
                        li
                            a(href='#') Интерьер
                        li
                            a(href='#') Экстерьер
                        li
                            a(href='#') Колеса
                    ul.footer__list
                        li
                            a(href='#') Багаж и крепление
                        li
                            a(href='#') Автохимия
                        li
                            a(href='#') Техпомощь
                        li
                            a(href='#') Инструмент
                        li
                            a(href='#') Туризм
                        li
                            a(href='#') 4х4 джипинг
                        li
                            a(href='#') Мото
                .footer__item
                    .footer__title Компания
                    ul.footer__list
                        li
                            a(href='#') О нас
                        li
                            a(href='#') Контакты
                        li
                            a(href='#') Магазины
                        li
                            a(href='#') Партнеры
                        li
                            a(href='#') Оптовым покупателям
                .footer__item
                    .footer__title Покупателям
                    ul.footer__list
                        li
                            a(href="#") Доставка
                        li
                            a(href="#") Оплата
                        li
                            a(href="#") Гарантия
                        li
                            a(href="#") Кредит
                        li
                            a(href="#") Бонусная программа
                        li
                            a(href="#") Акции
                        li
                            a(href="#") Карта сайта

                .footer__item
                    .footer__title Информация
                    ul.footer__list
                        li
                            a(href="#") Как выбрать
                        li
                            a(href="#") Сравнительные тесты
                        li
                            a(href="#") Новости
                        li
                            a(href="#") Часто задаваемые вопросы

            .copyright-line
                .copyright-line__left &copy; 2016, База автозвука
                .copyright-line__right
                    |Разработано в
                    a.dev-logo(href='#' target='_blank')







#mymodal.modal.my-modal.fade.popup(role='dialog')
    .modal-dialog
        .modal-content.text-center
            h1 Sample modal
            p Some text
            <form>
            <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>