//header
header.header
    .header__top
        .container.justify-wrap
            .justify-wrap__item
                ul.main-nav
                    li
                        a(href='#') Контакты
                    li
                        a(href='#') Магазины
                    li
                        a(href='#') О нас
                    li
                        a(href='#') Доставка
                    li
                        a(href='#') Оплата
                    li
                        a(href='#') Бонусная программа
            .justify-wrap__item
                ul.lang-switch
                    li.active
                        a(href='#') Рус
                    li
                        a(href='#') Укр
                .user-location
                    .user-location__title Ваш город:
                    .user-location__dropdown
                        .user-location__current.jsToggleCitySelect Киев
                        ul.user-location__list
                            li
                                a(href="javascript:void(0)") Киев
                            li
                                a(href="javascript:void(0)") Харьков
                            li
                                a(href="javascript:void(0)") Одесса
                            li
                                a(href="javascript:void(0)") Днепр
                            li
                                a(href="javascript:void(0)") Запорожье
                            li
                                a(href="javascript:void(0)") Львов
                            li
                                a(href="javascript:void(0)") Кривой Рог
                            li
                                a(href="javascript:void(0)") Николаев
                            li
                                a(href="javascript:void(0)") Мариуполь
                            li
                                a(href="javascript:void(0)") Винница
                            li
                                a(href="javascript:void(0)") Макеевка
                            li
                                a(href="javascript:void(0)") Каменец-Подольский
                            li
                                a(href="javascript:void(0)") Херсон
                            li
                                a(href="javascript:void(0)") Полтава
                            li
                                a(href="javascript:void(0)") Чернигов
                            li
                                a(href="javascript:void(0)") Черкассы
                            li
                                a(href="javascript:void(0)") Хмельницкий
                            li
                                a(href="javascript:void(0)") Житомир
                            li
                                a(href="javascript:void(0)") Черновцы
                            li
                                a(href="javascript:void(0)") Сумы
                            li
                                a(href="javascript:void(0)") Ровно
                            li
                                a(href="javascript:void(0)") Каменское 
                            li
                                a(href="javascript:void(0)") Ивано-Франковск
                            li
                                a(href="javascript:void(0)") Кропивницкий
                            li
                                a(href="javascript:void(0)") Кременчуг
                            li
                                a(href="javascript:void(0)") Тернополь
                            li
                                a(href="javascript:void(0)") Луцк
                            li
                                a(href="javascript:void(0)") Белая Церковь
            .justify-wrap__item
                .autorization
                    a(href='#mymodal' data-toggle='modal').autorization__item.autorization__item_login Вход
                    a(href='#mymodal' data-toggle='modal').autorization__item Регистрация
    .header__middle
        .container.clearfix
            a(href='#').logo
                img(src='img/logo.png' alt='logo' title='logo')
            .justify-wrap

                .justify-wrap__item
                    form.search
                        input.search__input(type='text' placeholder='Поиск по названию, коду, категории товара')
                        button.search__submit
                .justify-wrap__item
                    .phone
                        .jsPhoneTriger(role='button')
                        a.phone__main(href='tel:+30800301585') 0-800-30-15-85
                        ul.phone__dropdown
                            li
                                a(href='tel:+30800301585') 0-800-30-15-85
                            li
                                a(href='tel:+30800301585') 0-800-30-15-85
                            li
                                a(href='tel:+30800301585') 0-800-30-15-85
                            li
                                a(href='tel:+30800301585') 0-800-30-15-85
                .justify-wrap__item
                    .call-back
                        a.butn(href='#mymodal' data-toggle='modal') Обратный звонок
                .justify-wrap__item
                    .user-controls
                        a(href="#").user-controls__item
                            .user-controls__item-icon.icon-garage
                            .user-controls__itemt-title Гараж
                        a(href="#").user-controls__item
                            .user-controls__item-icon.icon-heart
                                .user-controls__item-in 99
                            .user-controls__itemt-title Избранное
                        a(href="#").user-controls__item
                            .user-controls__item-icon.icon-compare
                            .user-controls__itemt-title Сравнение
                        a(href="#").user-controls__item
                            .user-controls__item-icon.icon-basket
                            .user-controls__itemt-title Корзина
    .header__bottom
        .container
            .bottom-nav
                a.bottom-nav__item_catagol(href='#') Каталог товаров
                .item-wrap
                    a.bottom-nav__item(href='#')
                        i.bottom-nav__icon.icon-percent
                        span Акции
                    a.bottom-nav__item(href='#')
                        i.bottom-nav__icon.icon-compare-nav
                        span Сравнительные тесты
                    a.bottom-nav__item(href='#')
                        i.bottom-nav__icon.icon-question
                        span Как выбрать
                    a.bottom-nav__item(href='#')
                        i.bottom-nav__icon.icon-news

                        span Новости
//header end






