doctype html
html(lang='ru')
	head
		include ./_head
	body
		include ./components/_header
		include ./components/_content
		include ./components/_footer
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/easyzoom.js")
		script(src="vendor/js/j360.js")
		script(src="vendor/js/jquery.sticky-kit.min.js")
		script(src="vendor/js/slick.js")
		script(src="js/main.js")
		//- endinject