/*fonts*/
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova/proximanova-bold-webfont.eot");
  src: url("../fonts/proximanova/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-bold-webfont.woff2") format("woff2"), url("../fonts/proximanova/proximanova-bold-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-bold-webfont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova/proximanova-reg-webfont.eot");
  src: url("../fonts/proximanova/proximanova-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova/proximanova-reg-webfont.woff2") format("woff2"), url("../fonts/proximanova/proximanova-reg-webfont.woff") format("woff"), url("../fonts/proximanova/proximanova-reg-webfont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

/*fonts end*/
@-webkit-keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -10px; }
  100% {
    top: 0; } }
@keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -10px; }
  100% {
    top: 0; } }

@-webkit-keyframes moveDown {
  0% {
    top: 0; }
  50% {
    top: 10px; }
  100% {
    top: 0; } }

@keyframes moveDown {
  0% {
    top: 0; }
  50% {
    top: 10px; }
  100% {
    top: 0; } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -10px; }
  100% {
    left: 0; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -10px; }
  100% {
    left: 0; } }

@-webkit-keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0); } }

/*general styles*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background: #fff;
  font-family: "Proxima Nova", sans-serif;
  font-weight: 400;
  font-size: 13px; }

h1, h2, h3, h4, h5, h6, ul, ol {
  margin: 0;
  padding: 0; }

@media (min-width: 1320px) {
  .container {
    width: 1310px; } }

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
  clear: both; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.justify-wrap {
  text-align: justify;
  font-size: 0; }

.justify-wrap:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

.justify-wrap__item {
  display: inline-block;
  vertical-align: top; }

/*general styles end*/
/*buttons*/
.butn {
  display: inline-block;
  min-width: 151px;
  padding: 11px;
  border: 2px solid #ffdc2c;
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:hover, .butn:active, .butn:focus {
  color: #333333;
  background: #ffdc2c;
  text-decoration: none; }

.butn_red-border {
  border: 2px solid #fb2539;
  padding: 18px 11px 17px;
  font-size: 18px;
  font-weight: 700; }

.butn_red-border:hover, .butn_red-border:active, .butn_red-border:focus {
  color: #fff;
  background: #fb2539; }

.butn_yellow {
  background: #ffdc2c;
  font-weight: 700; }

.butn_yellow:hover, .butn_yellow:active, .butn_yellow:focus {
  background: #fff; }

.butn_red {
  background-color: #fb2539;
  color: #ffffff;
  border-color: #fb2539; }

.butn_red:hover {
  background-color: #fff;
  color: #333333; }

/*buttons end*/
/*icons*/
.icon-basket {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2228%22%20height%3D%2227%22%20viewBox%3D%220%200%2028%2027%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1587.98%2075.16v.1l-3.12%2012.66a.82.82%200%200%201-.8.64h-14.92a1.27%201.27%200%200%200-1.27%201.27c0%20.7.57%201.28%201.26%201.28h15.12c1.6%200%202.9%201.33%202.9%202.94a2.92%202.92%200%200%201-2.9%202.95c-1.6%200-2.9-1.32-2.9-2.95%200-.42.1-.84.33-1.27h-9.99c.23.43.34.85.34%201.27%200%20.79-.3%201.52-.84%202.08-.55.56-1.28.87-2.06.87-1.6%200-2.9-1.32-2.9-2.95a2.94%202.94%200%200%201%20.92-2.13%202.86%202.86%200%200%201-.91-2.09c0-.78.3-1.52.84-2.08.28-.28.62-.49%201.06-.64l-3.8-15.45h-3.52a.83.83%200%200%201-.82-.83c0-.46.37-.83.82-.83h4.15c.38%200%20.7.26.8.63l.88%203.6h20.53c.04%200%20.08%200%20.1.02h.08c.1.02.16.08.2.11l.01.02h.01c.07.04.16.09.23.18.06.08.09.17.1.24l.02.04.01.02c.02.04.06.1.06.2%200%20.04%200%20.07-.02.1zm-20.92.73l2.71%2011h13.65l2.71-11zm2.07%2019.45a1.26%201.26%200%200%200%201.26-1.27c0-.72-.56-1.3-1.26-1.3-.33%200-.65.14-.9.39-.23.24-.36.56-.35.9%200%20.7.56%201.28%201.25%201.28zm16.38-1.28c0-.7-.57-1.28-1.26-1.28a1.27%201.27%200%200%200-1.26%201.28c0%20.7.56%201.28%201.26%201.28a1.28%201.28%200%200%200%201.26-1.27z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1560%20-70)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-compare {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2223%22%20viewBox%3D%220%200%2032%2023%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1515.97%2084.92v.2c0%203.47-2.38%205.9-5.8%205.9s-5.8-2.43-5.8-5.9v-.2a.77.77%200%200%201%20.07-.6l4.5-7.75h-7.23c-.17.46-.52.83-.97%201.03v17.88h5.74c.4%200%20.74.34.74.76s-.33.76-.74.76h-12.96a.75.75%200%200%201-.74-.76c0-.42.33-.76.74-.76h5.74V77.6c-.45-.2-.8-.57-.97-1.03h-7.23l4.5%207.76c.1.18.12.4.07.6v.18c0%203.48-2.38%205.91-5.8%205.91s-5.8-2.43-5.8-5.9v-.2a.77.77%200%200%201%20.07-.6l5.09-8.78.04-.05a.74.74%200%200%201%20.67-.44h8.45c.3-.62.92-1.05%201.65-1.05.73%200%201.35.43%201.65%201.05h8.47c.32%200%20.6.21.7.5l5.08%208.78c.1.18.13.4.07.6zm-21.83.59h-8.62c.16%202.44%201.82%204%204.3%204%202.5%200%204.16-1.56%204.32-4zm-4.31-8.1l-3.8%206.58h7.6zm10.17-2.23a.7.7%200%200%200-.69.7c0%20.39.31.7.69.7a.7.7%200%200%200%20.69-.7.7.7%200%200%200-.69-.7zm6.36%208.81h7.62l-3.81-6.57zm8.12%201.52h-8.62c.16%202.44%201.82%204%204.31%204%202.5%200%204.15-1.56%204.3-4z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1484%20-74)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-garage {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2226%22%20height%3D%2225%22%20viewBox%3D%220%200%2026%2025%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1353%2079.7v16.53c0%20.43-.35.77-.78.77h-24.45a.77.77%200%200%201-.77-.77V79.7c0-.26.13-.5.35-.64l12.22-6.94c.26-.16.6-.16.85%200l12.23%206.94c.22.14.35.38.35.64zm-5.22%2013.88h-15.56v1.88h15.56zm0-3.46h-15.56v1.92h15.56zm0-3.49h-15.56v1.96h15.56zm0-3.4h-15.56v1.86h15.56zm3.67-3.12L1340%2073.68l-11.45%206.43v15.35h2.12v-13c0-.43.35-.78.77-.78h17.11c.43%200%20.78.35.78.77v13.01h2.12z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1327%20-72)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-heart {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2224%22%20height%3D%2221%22%20viewBox%3D%220%200%2024%2021%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1425%2082.11c0%203-1.48%205.95-4.4%208.78a30.85%2030.85%200%200%201-7.2%205.02.89.89%200%200%201-.8%200%2030.87%2030.87%200%200%201-7.2-5.02c-2.92-2.83-4.4-5.78-4.4-8.78%200-3.5%202.6-7.11%206.97-7.11%202.03%200%203.68.83%205.03%202.53%201.35-1.7%203-2.53%205.03-2.53%204.36%200%206.97%203.62%206.97%207.11zm-11.25-2.69a.87.87%200%200%201-.75.42c-.3%200-.6-.16-.75-.42-1.17-1.92-2.4-2.7-4.28-2.7-3.43%200-5.22%202.71-5.22%205.4%200%202.5%201.3%205.05%203.88%207.53a28.78%2028.78%200%200%200%206.37%204.51%2028.79%2028.79%200%200%200%206.37-4.5c2.58-2.5%203.88-5.03%203.88-7.55%200-2.68-1.8-5.4-5.22-5.4-1.87%200-3.11.8-4.28%202.71z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1401%20-75)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-percent {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M643.11%20181.18a3.92%203.92%200%200%201-4.11-4.04%203.98%203.98%200%200%201%204.11-4.14c2.51%200%204.14%201.82%204.14%204.14%200%202.3-1.63%204.04-4.14%204.04zm0-1.92c1.12%200%201.93-.84%201.93-2.12%200-1.38-.8-2.2-1.93-2.2-1.1%200-1.92.82-1.92%202.2%200%201.28.83%202.12%201.92%202.12zm11.48-4.99l-10.68%2016.9a.67.67%200%200%201-.57.31h-.43a.68.68%200%200%201-.57-1.05L653%20173.54c.13-.2.34-.31.57-.31h.46c.53%200%20.85.6.56%201.04zm3.4%2013.61a4.01%204.01%200%200%201-4.19%204.12%204%204%200%200%201-4.17-4.12c0-2.35%201.65-4.2%204.17-4.2s4.2%201.85%204.2%204.2zm-2.21%200c0-1.37-.84-2.22-1.98-2.22-1.13%200-1.95.85-1.95%202.22%200%201.35.82%202.17%201.95%202.17%201.14%200%201.98-.82%201.98-2.17z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ebc712%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-639%20-173)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-compare-nav {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2227%22%20height%3D%2217%22%20viewBox%3D%220%200%2027%2017%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M865%20181.63v7.47c0%20.5-.39.9-.87.9h-25.26a.88.88%200%200%201-.87-.9v-10.44c0-.5.39-.9.87-.9h7.55v-3.86c0-.5.39-.9.87-.9h8.42c.48%200%20.87.4.87.9v6.82h7.55c.48%200%20.87.4.87.9zm-18.58-2.06h-6.69v8.63h6.7zm8.42-4.77h-6.69v13.4h6.7zm8.43%207.73h-6.7v5.67h6.7z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ebc712%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-838%20-173)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-question {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2221%22%20height%3D%2221%22%20viewBox%3D%220%200%2021%2021%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1169%20182.5a10.51%2010.51%200%200%201-21%200%2010.51%2010.51%200%200%201%2021%200zm-1.7%200a8.81%208.81%200%200%200-17.6%200%208.81%208.81%200%200%200%2017.6%200zm-7.56%204.68c0%20.66-.58%201.24-1.24%201.24s-1.24-.58-1.24-1.24c0-.67.58-1.25%201.24-1.25s1.24.58%201.24%201.25zm1.8-7.25c0%201.35-.98%202.25-1.5%202.73-.46.4-.81.75-.81%201.1v.52c0%20.51-.37.88-.88.88a.86.86%200%200%201-.89-.88v-.46c0-1.08.7-1.78%201.26-2.33l.1-.1c.53-.49.95-.86.95-1.41%200-.77-.65-1.42-1.42-1.42a1.4%201.4%200%200%200-1.26.76.81.81%200%200%201-.74.49.86.86%200%200%201-.42-.11.81.81%200%200%201-.44-.49.85.85%200%200%201%20.08-.7%203.12%203.12%200%200%201%202.83-1.72c1.7%200%203.14%201.44%203.14%203.14z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ebc712%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1148%20-172)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-news {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2215%22%20viewBox%3D%220%200%2020%2015%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1424%20176.83c0-.46.36-.83.8-.83h16.12c.45%200%20.8.37.8.83%200%20.46-.35.84-.8.84h-16.11a.82.82%200%200%201-.81-.84zm0%204.38c0-.46.36-.84.8-.84h13.72c.45%200%20.8.38.8.84%200%20.46-.35.83-.8.83h-13.71a.82.82%200%200%201-.81-.83zm20.01%204.46c0%20.46-.36.83-.8.83h-18.4a.82.82%200%200%201-.81-.83c0-.46.36-.84.8-.84h18.4c.45%200%20.81.38.81.84zm-12.1%204.5c0%20.46-.37.83-.82.83h-6.28a.82.82%200%200%201-.81-.83c0-.46.36-.84.8-.84h6.3c.44%200%20.8.38.8.84z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ebc712%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1424%20-176)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-review-before:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2212%22%20height%3D%2211%22%20viewBox%3D%220%200%2012%2011%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M891%20333.82v5.42c0%201-.8%201.82-1.8%201.82h-.63v1.06c0%20.48-.4.88-.87.88a.86.86%200%200%201-.61-.26l-1.66-1.68h-4.63c-1%200-1.8-.82-1.8-1.82v-5.42c0-1%20.8-1.82%201.8-1.82h8.4c1%200%201.8.82%201.8%201.82zm-10.2%206.1h4.86c.15%200%20.3.06.4.17l1.39%201.4v-1c0-.31.25-.57.56-.57h1.2c.37%200%20.67-.3.67-.68v-5.42c0-.37-.3-.68-.68-.68h-8.4c-.37%200-.67.3-.67.68v5.42c0%20.37.3.68.67.68z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23777%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-879%20-332)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-qestions-before:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M997%20337.5a6.51%206.51%200%201%201-13.01-.02%206.51%206.51%200%200%201%2013.02.01zm-6.5-5.41a5.4%205.4%200%201%200%20.02%2010.82%205.4%205.4%200%200%200-.02-10.82zm.6%208.31a.6.6%200%200%201-.6.6.6.6%200%200%201-.6-.6c0-.32.27-.6.6-.6.32%200%20.6.28.6.6zm1.45-4.56c0%20.84-.59%201.25-1.1%201.6-.41.29-.76.53-.76.9%200%20.14.1.31.23.42l.1.07-.74.32-.03-.03c-.26-.22-.4-.51-.4-.83%200-.67.5-1.03.95-1.35.4-.28.78-.54.78-.99%200-.5-.41-.81-1.06-.81a1.7%201.7%200%200%200-1.46.75l-.05.07-.58-.62.04-.05c.5-.65%201.26-1%202.13-1%201.15%200%201.95.63%201.95%201.55z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23777%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-984%20-331)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-compare-sm-before:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2225%22%20height%3D%2218%22%20viewBox%3D%220%200%2025%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M833.98%20697.55v.15c0%202.72-1.87%204.62-4.54%204.62s-4.54-1.9-4.54-4.62v-.15a.6.6%200%200%201%20.06-.47l3.52-6.07h-5.65c-.14.36-.42.65-.76.8v14h4.48c.32%200%20.58.27.58.6%200%20.32-.26.59-.58.59h-10.13a.59.59%200%200%201-.58-.6c0-.32.26-.59.58-.59h4.49v-14a1.46%201.46%200%200%201-.76-.8h-5.65l3.51%206.07c.09.15.1.32.06.47v.15c0%202.72-1.86%204.62-4.54%204.62-2.67%200-4.54-1.9-4.54-4.62v-.15a.6.6%200%200%201%20.06-.47l3.98-6.87.03-.05c.1-.2.3-.34.53-.34h6.6c.24-.48.73-.82%201.3-.82.57%200%201.06.34%201.3.82h6.61c.25%200%20.47.17.55.4l3.97%206.86c.09.15.1.32.06.47zm-17.08.45h-6.73c.12%201.92%201.41%203.13%203.36%203.13s3.25-1.21%203.37-3.13zm-3.37-6.33l-2.97%205.15h5.95zm7.96-1.75c-.3%200-.54.25-.54.55%200%20.3.24.55.54.55.3%200%20.54-.25.54-.55%200-.3-.25-.55-.54-.55zm4.97%206.9h5.96l-2.98-5.15zm6.35%201.18h-6.74c.13%201.92%201.42%203.13%203.37%203.13%201.95%200%203.25-1.21%203.37-3.13z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-809%20-689)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-share-before:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2221%22%20viewBox%3D%220%200%2019%2021%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M694.98%20696.72a3.56%203.56%200%200%201-3.6%203.52c-.97%200-1.85-.38-2.5-1l-5.83%203.26c.07.28.12.56.12.86a3.56%203.56%200%200%201-3.6%203.52%203.56%203.56%200%200%201-3.58-3.52%203.6%203.6%200%201%201%206.58-1.95l5.6-3.14a3.42%203.42%200%200%201-.37-1.55c0-.4.08-.77.2-1.12l-5.62-3.05a3.6%203.6%200%200%201-6.4-2.18%203.56%203.56%200%200%201%203.6-3.52c1.98%200%203.6%201.58%203.6%203.52%200%20.4-.1.78-.22%201.14l5.62%203.05a3.6%203.6%200%200%201%206.4%202.16zm-13.02-6.35a2.36%202.36%200%200%200-2.38-2.34%202.36%202.36%200%200%200-2.39%202.34%202.36%202.36%200%200%200%202.39%202.33%202.36%202.36%200%200%200%202.38-2.33zm0%2013a2.36%202.36%200%200%200-2.38-2.34%202.36%202.36%200%200%200-2.39%202.33%202.36%202.36%200%200%200%202.39%202.34%202.36%202.36%200%200%200%202.38-2.34zm11.81-6.65a2.36%202.36%200%200%200-2.38-2.33%202.36%202.36%200%200%200-2.39%202.33%202.36%202.36%200%200%200%202.39%202.34%202.36%202.36%200%200%200%202.38-2.34z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-676%20-686)%22%2F%3E%3C%2Fsvg%3E"); }

.icon-check-green-before:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2213%22%20height%3D%228%22%20viewBox%3D%220%200%2013%208%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1095.67%20617.17c.2-.2.51-.2.7%200l3.63%203.62%206.62-6.62a.5.5%200%200%201%20.7.7l-6.94%206.96a.5.5%200%200%201-.38.14.5.5%200%200%201-.38-.14l-3.95-3.95a.5.5%200%200%201%200-.7z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%2357ae85%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1095%20-614)%22%2F%3E%3C%2Fsvg%3E"); }

.slick-arrow_left:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2217%22%20viewBox%3D%220%200%2011%2017%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M960.92%203475.57a1%201%200%200%201%200%201.42l-6.5%206.5%206.5%206.52a1%201%200%200%201-1.41%201.41l-6.7-6.7a1%201%200%200%201-1-1.22%201%201%200%200%201%201-1.22l6.7-6.7a1%201%200%200%201%201.41%200z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-951%20-3475)%22%2F%3E%3C%2Fsvg%3E"); }

.slick-arrow_right:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2217%22%20viewBox%3D%220%200%2011%2017%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M954.49%203359.57l6.7%206.71a1%201%200%200%201%201%201.22%201%201%200%200%201-1%201.22l-6.7%206.7a1%201%200%200%201-1.41-1.41l6.5-6.51-6.5-6.51a1%201%200%201%201%201.4-1.42z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-952%20-3359)%22%2F%3E%3C%2Fsvg%3E"); }

.dev-logo {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2293%22%20height%3D%2216%22%20viewBox%3D%220%200%2093%2016%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1243.5%20314.16l.44-.04c.66-.02%201.22-.44%201.43.47.2.8-.3%201.84-1.04%202.09-.69.22-1.43.3-2.15.37-1.34.14-1.88.65-2.08%202.05.52-.23%201.04-.55%201.6-.66%202.52-.5%204.4.97%204.63%203.6.25%202.65-1.43%204.77-3.85%204.85-2.83.1-4.34-1.29-4.53-4.2-.06-.94-.06-1.89%200-2.83.17-2.95%201.46-4.3%204.33-4.5.82-.05%201.41-.12%201.22-1.2zm.57%208.56c0-1.9-.73-2.88-1.95-2.88-1.2%200-1.99%201.04-1.98%202.6.01%201.54.76%202.54%201.93%202.55.84%200%201.49-.36%201.77-1.2.14-.43.2-.89.23-1.07zm10.92-4.46h2.04l.1.78a3.29%203.29%200%200%201%205.73%201.98c.1%201.08.1%201.99-.13%203.28-.58%202.7-3.67%203.4-5.51%201.6v3.92h-2.23v-11.56zm5.8%204.26a5.59%205.59%200%200%200-.19-1.22c-.26-.85-.7-1.3-1.66-1.32-.97-.01-1.55.54-1.66%201.42-.1.83-.11%201.77.17%202.54.17.46%201%20.97%201.5.97s1.23-.35%201.48-.88c.21-.45.35-.99.36-1.5zm6.38%201.72c.47-1.72.95-3.23%201.27-4.78.21-1.05.69-1.3%201.68-1.24.37.02.57.04%201.01.04l-.81%202.4c-.81%202.37-1.6%204.73-2.44%207.09-.75%202.1-1.37%202.45-3.66%202.17v-1.7c.2%200%20.41.02.62-.01.87-.14%201.23-.75.93-1.62l-2.6-7.73c-.06-.15-.2-.62-.2-.62s.91-.03%202.1%200c.18%200%20.4.39.48.62.45%201.5.87%203%201.3%204.49l.32.9zm-73.44%202.37h-2.42v-9.32H1188v-2h.98l6.74-.01c.75%200%201.25%201.62%201.32%201.95h-3.31v9.38zm43.15-5.44c-.06.29-.08.45-.13.6-.65%201.77-.26%201.44-2.03%201.47h-2.64c.02-1.72.35-2.07%201.84-2.07h2.96zm44.12%205.49h-1.96V321.19c-.07-.02-.13-.04-.2-.04-.36%201.07-.79%202.13-1.06%203.23-.24.93-.88.7-1.49.76-.6.05-.9-.15-1.08-.78a17.6%2017.6%200%200%200-1.25-3.25v5.55h-2.02v-8.4h2.82c.22%200%20.42.4.5.66.45%201.18.82%202.38%201.3%203.79.45-1.39.86-2.58%201.23-3.78.14-.47.35-.66.86-.67h2.35v8.4zm-30.5-2.42c.46-1.72.95-3.23%201.27-4.78.2-1.05.68-1.3%201.68-1.24.37.02.56.04%201%20.04l-.8%202.4c-.81%202.37-1.6%204.73-2.44%207.09-.75%202.1-1.37%202.45-3.67%202.17v-1.7c.2%200%20.42.02.63-.01.86-.14%201.23-.75.93-1.62-.86-2.58-1.74-5.15-2.61-7.73l-.2-.62s.92-.03%202.12%200c.17%200%20.39.39.47.62l1.3%204.49c.07.24.17.47.32.9zm-45.85-6h2.05l.1.78a3.29%203.29%200%200%201%205.73%201.98c.1%201.08.1%201.99-.14%203.27-.58%202.7-3.66%203.41-5.5%201.61v3.92h-2.24v-11.56zm5.81%204.26a5.59%205.59%200%200%200-.2-1.22c-.25-.86-.7-1.3-1.66-1.32-.97-.01-1.55.54-1.66%201.41-.1.84-.1%201.78.18%202.55.17.46%201%20.97%201.5.97s1.22-.35%201.48-.89c.21-.44.35-.98.36-1.5zm6.38%201.72c.46-1.72.95-3.23%201.27-4.78.2-1.05.68-1.3%201.67-1.24.38.02.57.04%201.02.04l-.82%202.4c-.8%202.36-1.6%204.73-2.43%207.08-.76%202.11-1.38%202.46-3.67%202.17v-1.7c.2%200%20.42.03.63%200%20.86-.14%201.23-.75.93-1.62-.86-2.58-1.74-5.16-2.61-7.73l-.2-.63s.92-.02%202.11%200c.18%200%20.4.4.47.63.45%201.49.88%203%201.3%204.49l.33.89zm13.83%202.41h-1.97v-5.46l-.2-.05c-.35%201.08-.78%202.14-1.06%203.23-.23.94-.88.7-1.48.76-.6.06-.91-.14-1.08-.77a17.6%2017.6%200%200%200-1.26-3.25v5.54h-2.01v-8.4h2.82c.21%200%20.41.42.5.66.44%201.19.82%202.39%201.3%203.8.45-1.4.86-2.58%201.23-3.78.14-.47.34-.67.85-.67h2.36v8.4zm-30.5-2.41c.46-1.72.94-3.23%201.26-4.78.21-1.05.69-1.3%201.68-1.24.37.02.57.04%201.01.04l-.81%202.4c-.81%202.36-1.6%204.73-2.44%207.08-.75%202.11-1.37%202.46-3.66%202.17v-1.7c.2%200%20.42.03.62%200%20.87-.14%201.23-.75.94-1.62l-2.62-7.73-.2-.63s.92-.02%202.12%200c.17%200%20.4.4.47.63.45%201.49.87%203%201.3%204.49.08.23.18.47.32.89z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1188%20-314)%22%2F%3E%3C%2Fsvg%3E"); }

.soc-fb {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1417%20199a21%2021%200%201%201%200%2042%2021%2021%200%200%201%200-42z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M1413.62%20216.62h1.72v-1.7c0-.76.02-1.92.56-2.64a3.04%203.04%200%200%201%202.67-1.28c2.17%200%203.09.32%203.09.32l-.43%202.6s-.72-.21-1.39-.21c-.67%200-1.27.24-1.27.93v1.98h2.75l-.2%202.55h-2.55V228h-3.23v-8.83h-1.72z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20fill-opacity%3D%220%22%20stroke%3D%22%233e6eb1%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1396%20-199)%22%2F%3E%3Cuse%20fill%3D%22%233e6eb1%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-1396%20-199)%22%2F%3E%3C%2Fsvg%3E"); }

.soc-g {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1480%20199a21%2021%200%201%201%200%2042%2021%2021%200%200%201%200-42z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M1471%20219.65a6.98%206.98%200%200%201%206.98-6.65%207.08%207.08%200%200%201%204.67%201.73c-.57.64-1.15%201.26-1.78%201.84-1.59-1.1-3.85-1.41-5.43-.14a4.49%204.49%200%200%200-.2%206.99c2.13%201.93%206.15.97%206.74-1.99-1.33-.02-2.67%200-4-.04v-2.4c2.22%200%204.45%200%206.68.02.13%201.87-.11%203.86-1.26%205.4-1.74%202.46-5.23%203.17-7.96%202.13a7%207%200%200%201-4.44-6.89zm18-2.66h1.99l.01%202%202%20.01v2h-2l-.01%202h-2v-1.99l-2-.02V219l2-.01.01-2z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20fill-opacity%3D%220%22%20stroke%3D%22%23dc4e41%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1459%20-199)%22%2F%3E%3Cuse%20fill%3D%22%23dc4e41%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-1459%20-199)%22%2F%3E%3C%2Fsvg%3E"); }

.soc-ins {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1546%20264a21%2021%200%201%201%200%2042%2021%2021%200%200%201%200-42z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M1546.5%20277.53c-2.27%200-2.54.01-3.43.05a4.7%204.7%200%200%200-1.58.3c-.4.15-.68.33-.98.63-.3.3-.48.58-.64.98-.11.3-.25.75-.29%201.58-.04.9-.05%201.16-.05%203.43%200%202.27.01%202.54.05%203.43.04.83.18%201.28.3%201.58.15.4.33.68.63.98.3.3.58.48.98.64.3.11.75.25%201.58.29.9.04%201.16.05%203.43.05%202.27%200%202.54-.01%203.43-.05a4.71%204.71%200%200%200%201.58-.3c.4-.15.68-.33.98-.63.3-.3.48-.58.64-.98.11-.3.25-.75.29-1.58.04-.9.05-1.16.05-3.43%200-2.27-.01-2.54-.05-3.43a4.7%204.7%200%200%200-.3-1.58c-.15-.4-.33-.68-.63-.98-.3-.3-.58-.48-.98-.64a4.7%204.7%200%200%200-1.58-.29c-.9-.04-1.16-.05-3.43-.05%200%200%202.27%200%200%200zm0-1.53c2.3%200%202.6.01%203.5.05.9.04%201.53.19%202.07.4.56.21%201.03.5%201.5.98.48.47.77.94.98%201.5.21.54.36%201.16.4%202.07.04.9.05%201.2.05%203.5s-.01%202.6-.05%203.5c-.04.9-.19%201.53-.4%202.07-.21.56-.5%201.03-.98%201.5-.47.48-.94.77-1.5.98-.54.21-1.16.36-2.07.4-.9.04-1.2.05-3.5.05s-2.6-.01-3.5-.05a6.24%206.24%200%200%201-2.07-.4%204.16%204.16%200%200%201-1.5-.98%204.16%204.16%200%200%201-.98-1.5%206.24%206.24%200%200%201-.4-2.07c-.04-.9-.05-1.2-.05-3.5s.01-2.6.05-3.5c.04-.9.19-1.53.4-2.07.21-.56.5-1.03.98-1.5.47-.48.94-.77%201.5-.98a6.24%206.24%200%200%201%202.07-.4c.9-.04%201.2-.05%203.5-.05%200%200-2.3%200%200%200zm0%204.14a4.36%204.36%200%201%201%200%208.72%204.36%204.36%200%200%201%200-8.72s-2.41%200%200%200zm0%207.2a2.83%202.83%200%201%200%200-5.67%202.83%202.83%200%200%200%200%205.66s-1.56%200%200%200zm5.56-7.38a1.02%201.02%200%201%201-2.04%200%201.02%201.02%200%200%201%202.04%200c0%20.57%200%200%200%200z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3ClinearGradient%20id%3D%22d%22%20x1%3D%221539%22%20x2%3D%221554%22%20y1%3D%22293%22%20y2%3D%22276%22%20gradientUnits%3D%22userSpaceOnUse%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22%23fa9d3e%22%2F%3E%3Cstop%20offset%3D%22.34%22%20stop-color%3D%22%23f05e47%22%2F%3E%3Cstop%20offset%3D%22.73%22%20stop-color%3D%22%23dd2d73%22%2F%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22%23ae32a7%22%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3Cg%20transform%3D%22translate(-1525%20-264)%22%3E%3Cuse%20fill%3D%22transparent%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Cuse%20fill%3D%22%23fff%22%20fill-opacity%3D%220%22%20stroke%3D%22%23f26e44%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fg%3E%3Cg%20transform%3D%22translate(-1525%20-264)%22%3E%3Cuse%20fill%3D%22%2385b8fc%22%20xlink%3Ahref%3D%22%23c%22%2F%3E%3Cuse%20fill%3D%22url(%23d)%22%20xlink%3Ahref%3D%22%23c%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

.soc-tw {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1546%20199a21%2021%200%201%201%200%2042%2021%2021%200%200%201%200-42z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M1555.01%20215.55c-.63.26-1.3.43-2%20.51a3.33%203.33%200%200%200%201.53-1.81c-.67.37-1.42.65-2.22.8a3.59%203.59%200%200%200-2.54-1.04c-1.93%200-3.49%201.47-3.49%203.28%200%20.26.03.5.1.75a10.12%2010.12%200%200%201-7.2-3.43c-.3.48-.47%201.05-.47%201.65%200%201.14.62%202.14%201.55%202.73a3.65%203.65%200%200%201-1.58-.41v.04c0%201.6%201.2%202.92%202.8%203.22a3.6%203.6%200%200%201-1.58.06%203.47%203.47%200%200%200%203.26%202.27%207.28%207.28%200%200%201-5.16%201.36c1.54.93%203.38%201.48%205.35%201.48%206.41%200%209.92-5%209.92-9.34l-.01-.43a6.85%206.85%200%200%200%201.74-1.7%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20fill-opacity%3D%220%22%20stroke%3D%22%2300acec%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1525%20-199)%22%2F%3E%3Cuse%20fill%3D%22%2300acec%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-1525%20-199)%22%2F%3E%3C%2Fsvg%3E"); }

.soc-yt {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1417%20264a21%2021%200%201%201%200%2042%2021%2021%200%200%201%200-42z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M1417.5%20278c8.35%200%208.5.74%208.5%206.5s-.15%206.5-8.5%206.5-8.5-.74-8.5-6.5.15-6.5%208.5-6.5zm2.72%206.22l-3.81-1.77c-.34-.16-.61.02-.61.38v3.34c0%20.36.27.53.6.38l3.82-1.77c.34-.15.34-.4%200-.56z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20fill-opacity%3D%220%22%20stroke%3D%22%23e35358%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1396%20-264)%22%2F%3E%3Cuse%20fill%3D%22%23e35358%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-1396%20-264)%22%2F%3E%3C%2Fsvg%3E"); }

.soc-vk {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2242%22%20height%3D%2242%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1480%20264a21%2021%200%201%201%200%2042%2021%2021%200%200%201%200-42z%22%2F%3E%3Cpath%20id%3D%22c%22%20d%3D%22M1487.02%20287.71a16.04%2016.04%200%200%200%201.83%202.28c.15.26.19.47.11.62-.12.25-.53.38-.67.39h-2.57c-.18%200-.55-.05-1-.38-.35-.26-.7-.69-1.03-1.1-.5-.63-.93-1.16-1.37-1.16a.46.46%200%200%200-.16.03c-.33.1-.75.61-.75%201.95%200%20.42-.3.66-.53.66h-1.17c-.4%200-2.5-.15-4.35-2.24-2.27-2.56-4.3-7.69-4.33-7.73-.12-.33.14-.51.43-.51h2.6c.35%200%20.46.22.54.42.09.24.43%201.16.99%202.2.9%201.7%201.46%202.39%201.9%202.39.08%200%20.16-.02.24-.07.58-.34.47-2.55.44-3%200-.1%200-1-.3-1.43a1.26%201.26%200%200%200-.79-.48.96.96%200%200%201%20.34-.3c.4-.22%201.12-.25%201.83-.25h.4c.77.01.97.06%201.25.14.56.14.57.54.52%201.87-.01.38-.03.81-.03%201.31v.35c-.02.69-.04%201.46.41%201.78.06.03.13.06.2.06.15%200%20.62%200%201.9-2.34a18%2018%200%200%200%201.01-2.33c.03-.05.1-.2.2-.26a.41.41%200%200%201%20.21-.05h3.06c.33%200%20.55.05.6.19.07.22-.02.88-1.41%202.9l-.62.88c-1.27%201.77-1.27%201.86.07%203.21z%22%2F%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20fill-opacity%3D%220%22%20stroke%3D%22%234c76a6%22%20stroke-miterlimit%3D%2250%22%20stroke-width%3D%222%22%20clip-path%3D%22url(%26quot%3B%23b%26quot%3B)%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1459%20-264)%22%2F%3E%3Cuse%20fill%3D%22%234c76a6%22%20xlink%3Ahref%3D%22%23c%22%20transform%3D%22translate(-1459%20-264)%22%2F%3E%3C%2Fsvg%3E"); }

/*icons end*/
/*header*/
.header__top {
  background-color: #eff0f3; }

.main-nav li {
  display: inline-block; }

.main-nav li + li {
  margin-left: 35px; }

.main-nav a {
  display: block;
  padding: 15px 0 16px;
  font-size: 13px;
  color: #777;
  font-weight: 400;
  line-height: 1; }

.main-nav a:hover {
  text-decoration: none;
  color: #333; }

.lang-switch {
  display: inline-block;
  margin-right: 85px; }

.lang-switch a {
  display: block;
  font-size: 13px;
  color: #777;
  font-weight: 400;
  line-height: 1;
  padding: 15px 0 16px; }

.lang-switch a:hover {
  text-decoration: none;
  color: #333; }

.lang-switch li {
  display: inline-block; }

.lang-switch li + li {
  margin-left: 25px; }

.lang-switch .active a {
  position: relative;
  color: #333; }

.lang-switch .active a:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fb2539; }

.user-location {
  display: inline-block;
  position: relative;
  font-size: 13px; }

.user-location__title {
  display: inline-block;
  color: #555;
  font-weight: 400;
  line-height: 1;
  margin-right: 13px; }

.user-location__dropdown {
  display: inline-block;
  border-right: 1px solid #d8d9dc;
  border-left: 1px solid #d8d9dc; }

.user-location__dropdown_transp {
  position: relative;
  border: 1px solid #d8d9dc;
  min-width: 264px; }

.user-location__dropdown_transp .user-location__current {
  text-align: left;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 12px 25px 13px 15px; }

.user-location__dropdown_transp .user-location__list {
  border: 1px solid #d8d9dc;
  background: #fff; }

.user-location__dropdown_transp .user-location__list a {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400; }

.user-location__current {
  color: #333333;
  line-height: 1;
  padding: 15px 25px 16px 5px;
  text-align: center;
  min-width: 77px;
  position: relative;
  cursor: pointer; }

.user-location__current:before, .user-location__current:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 1px;
  background: #333;
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.user-location__current:before {
  right: 10px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.user-location__current:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 14px; }

.user-location__current.open:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.user-location__current.open:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.user-location__list {
  display: none;
  padding: 5px 0;
  position: absolute;
  width: 100%;
  right: 0;
  top: 100%;
  max-height: 400px;
  overflow-y: scroll;
  list-style: none;
  background-color: #eff0f3;
  border: 1px solid #d8d9dc;
  z-index: 9; }

.user-location__list a {
  display: block;
  color: #555;
  line-height: 1;
  padding: 5px; }

.user-location__list a:hover {
  text-decoration: none;
  background: #d8d9dc; }

.autorization {
  font-size: 13px; }

.autorization__item {
  display: inline-block;
  padding: 15px 0 16px;
  line-height: 1;
  color: #777; }

.autorization__item + .autorization__item {
  margin-left: 35px; }

.autorization__item:hover {
  text-decoration: none;
  color: #333333; }

.autorization__item_login {
  color: #fb2539;
  position: relative;
  padding-left: 20px; }

.autorization__item_login:before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 14px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2214%22%20viewBox%3D%220%200%2011%2014%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1456%2018.94v6.85c0%20.66-.52%201.21-1.15%201.21h-8.7c-.63%200-1.15-.55-1.15-1.21v-6.85c0-.67.52-1.21%201.15-1.21h.85v-2.16c0-1.4%201.1-2.57%202.44-2.57h2.33a2.52%202.52%200%200%201%202.44%202.57v.13c0%20.32-.26.58-.56.58-.3%200-.55-.26-.55-.58v-.13c0-.78-.6-1.4-1.33-1.4h-2.33c-.74%200-1.34.62-1.34%201.4v2.14h6.75c.63%200%201.15.55%201.15%201.23zm-1.09%206.85v-6.85c0-.02-.01-.05-.04-.05h-8.7c-.02%200-.05.01-.05.05v6.85c0%20.02.01.05.04.05h8.7s.04-.02.04-.05zm-4.4-4.66c.68%200%201.24.58%201.24%201.3%200%20.73-.56%201.32-1.24%201.32-.69%200-1.25-.59-1.25-1.31%200-.73.56-1.31%201.25-1.31z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb2539%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1445%20-13)%22%2F%3E%3C%2Fsvg%3E"); }

.header__middle .justify-wrap {
  height: 112px; }

.header__middle .justify-wrap:before {
  content: "";
  height: 100%;
  width: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle; }

.header__middle .justify-wrap__item {
  vertical-align: middle; }

.logo {
  display: block;
  width: 234px;
  height: 112px;
  background-color: #ffdc2c;
  position: relative;
  margin-right: 30px;
  float: left; }

.logo img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.search {
  display: block;
  width: 348px;
  max-width: 100%;
  position: relative;
  margin-right: 30px; }

.search__input {
  width: 100%;
  -webkit-border-radius: 23px;
          border-radius: 23px;
  padding: 13px 45px 14px 25px;
  border: 1px solid #c3c3c3;
  color: #999999;
  font-family: "Proxima Nova", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1; }

.search__submit {
  position: absolute;
  width: 45px;
  height: 45px;
  right: 0;
  top: 0;
  background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M909.75%20110.75a.85.85%200%200%201-1.21%200l-4.02-4.01a7.72%207.72%200%201%201%201.21-1.21l4.02%204c.33.34.33.88%200%201.22zm-4.04-10.04a6%206%200%201%200-12%20.02%206%206%200%200%200%2012-.02z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-892%20-93)%22%2F%3E%3C%2Fsvg%3E") no-repeat center;
  border: none; }

.phone {
  position: relative;
  padding: 0 25px 0 5px;
  margin-right: 5px; }

.phone a {
  color: #333333;
  font-family: "Proxima Nova", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1; }

.phone a:hover {
  color: #999999;
  text-decoration: none; }

.phone__dropdown {
  display: none;
  padding: 5px;
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  list-style: none;
  background: #fff;
  border: 1px solid #c3c3c3;
  z-index: 9; }

.phone__dropdown li {
  margin-bottom: 5px; }

.jsPhoneTriger {
  position: absolute;
  right: 0;
  top: -3px;
  width: 25px;
  height: 25px; }

.jsPhoneTriger:before, .jsPhoneTriger:after {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 1px;
  background: #333;
  top: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: -1px; }

.jsPhoneTriger:before {
  right: 8px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.jsPhoneTriger:after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 12px; }

.jsPhoneTriger.open:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.jsPhoneTriger.open:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.call-back {
  margin-right: 50px; }

.user-controls__item {
  display: inline-block;
  text-align: center;
  position: relative; }

.user-controls__item + .user-controls__item {
  margin-left: 20px; }

.user-controls__item-icon {
  display: inline-block;
  width: 32px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  margin-bottom: 13px;
  position: relative; }

.user-controls__itemt-title {
  height: 10px;
  color: #555555;
  font-size: 12px;
  font-weight: 400;
  line-height: 1; }

.user-controls__item-in {
  width: 16px;
  height: 16px;
  background-color: #fb2539;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  color: #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  position: absolute;
  right: -6px;
  top: -4px; }

.user-controls__item:hover {
  text-decoration: none; }

.user-controls__item:hover .user-controls__item-icon {
  -webkit-animation-name: moveTop;
          animation-name: moveTop;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.header__bottom {
  height: 54px;
  background-color: #3c3f43; }

.bottom-nav {
  overflow: hidden; }

.bottom-nav .item-wrap {
  width: -webkit-calc(100% - 234px);
  width: calc(100% - 234px);
  overflow: hidden; }

.bottom-nav__icon {
  width: 27px;
  height: 19px;
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.bottom-nav__item {
  display: block;
  float: left;
  width: 25%;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 52px;
  text-transform: uppercase;
  letter-spacing: 2.2px;
  text-align: center;
  border-right: 1px solid #575b5f; }

.bottom-nav__item span {
  display: inline-block;
  vertical-align: middle; }

.bottom-nav__item_catagol {
  float: left;
  display: block;
  position: relative;
  width: 234px;
  padding: 19px 40px 19px 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  background-color: #fb2539; }

.bottom-nav__item_catagol:after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 14px;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2214%22%20viewBox%3D%220%200%2020%2014%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M512%20177v-2h17v2zm4%206v-2h13v2zm-7%206v-2h20v2z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-509%20-175)%22%2F%3E%3C%2Fsvg%3E");
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.bottom-nav__item_catagol:hover {
  text-decoration: none;
  color: #ffffff; }

.bottom-nav__item_catagol:hover:after {
  right: 10px; }

.bottom-nav__item:hover {
  color: #fff; }

.bottom-nav__item:hover .bottom-nav__icon {
  position: relative;
  -webkit-animation: moveLeft .3s;
          animation: moveLeft .3s; }

/*header end*/
/*content styles*/
main {
  padding-top: 19px;
  position: relative;
  z-index: 1;
  background: #fff; }

.bread-crumb {
  margin-bottom: 25px; }

.bread-crumb a {
  display: inline-block;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 1; }

.bread-crumb a:hover {
  text-decoration: underline; }

.bread-crumb .current {
  text-decoration: none;
  cursor: default; }

.bread-crumb .current:hover {
  text-decoration: none; }

.bread-crumb a + a:before {
  display: inline-block;
  content: '>';
  margin: 0 16px; }

.slider-nav {
  width: 100%;
  max-width: 170px;
  height: 400px;
  float: left;
  margin: 0 0 0 -5px; }

.slider-nav .slick-track {
  width: 150px !important; }

.slider-nav__item {
  width: 75px !important;
  float: left !important;
  padding: 0 5px 10px; }

.slider-nav__img {
  width: 65px;
  height: 65px;
  border: 1px solid #e9eaeb;
  text-align: center !important; }

.slider-nav__img:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  visibility: hidden;
  vertical-align: middle; }

.slider-nav__img img {
  max-width: 100%;
  display: inline-block; }

.slider-nav__img_video {
  position: relative; }

.slider-nav__img_video:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 31px;
  height: 31px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff url("../img/icon-play.svg") no-repeat center; }

.slider-nav__item.slick-current .slider-nav__img, .slider-nav__item:hover .slider-nav__img {
  border: 1px solid #ffdc2c; }

.slider-for {
  overflow: hidden;
  width: 400px;
  height: 400px; }

.slider-for .slick-list {
  height: 100%; }

.slider-for .slick-track {
  height: 100%; }

.slider-for__item {
  text-align: center; }

.slider-for__item:before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  visibility: hidden;
  vertical-align: middle; }

.slider-for__item .js3d img {
  max-width: 100%;
  display: inline-block; }

/*EasyZoom core styles*/
.easyzoom {
  position: relative;
  display: inline-block;
  vertical-align: middle; }

.easyzoom img {
  vertical-align: bottom; }

.easyzoom.is-loading img {
  cursor: progress; }

.easyzoom.is-ready img {
  cursor: crosshair; }

.easyzoom.is-error img {
  cursor: not-allowed; }

.easyzoom-notice {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;
  width: 10em;
  margin: -1em 0 0 -5em;
  line-height: 2em;
  text-align: center;
  background: #FFF;
  -webkit-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888; }

.easyzoom-flyout {
  position: absolute;
  z-index: 999;
  overflow: hidden;
  background: #FFF; }

/*EasyZoom core styles end*/
/*EasyZoom layout variations*/
.easyzoom--overlay .easyzoom-flyout {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.easyzoom--adjacent .easyzoom-flyout {
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  margin-left: 20px; }

/*EasyZoom layout variations end*/
.video-container {
  position: absolute;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.slider-for .slider-for__item .js3d {
  display: inline-block;
  width: 394px;
  height: 400px;
  overflow: hidden; }

.slider-for .slider-for__item .js3d:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0;
  visibility: hidden; }

.slider-for .slider-for__item .js3d img {
  display: inline-block !important;
  width: auto !important;
  height: auto !important;
  vertical-align: middle; }

#view_overlay {
  top: 0 !important;
  left: 0 !important;
  cursor: e-resize; }

.product {
  margin-bottom: 70px; }

.product__title {
  color: #333;
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px; }

.product__code {
  min-width: 139px;
  padding: 12px 10px 11px 17px;
  background-color: #ffdc2c;
  line-height: 1;
  color: #333333;
  font-size: 13px;
  position: relative; }

.product__code:before {
  content: "";
  display: block;
  position: absolute;
  height: 12px;
  width: 12px;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #fff; }

.product__img {
  float: left;
  min-width: 565px; }

.product__info {
  overflow: hidden;
  padding-left: 40px;
  padding-bottom: 10px; }

.product__info-heading {
  margin-bottom: 35px; }

.product__availability {
  display: inline-block;
  color: #333333;
  font-size: 13px;
  margin-right: 27px; }

.product__stars {
  display: inline-block;
  position: relative;
  width: 55px;
  height: 10px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M763.33%20331l1.76%203.14%203.57.68-2.49%202.62.46%203.56-3.3-1.53-3.3%201.53.46-3.56-2.49-2.62%203.57-.68%201.76-3.14%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23999%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-758%20-331)%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: repeat-x;
  margin-right: 30px; }

.product__stars_fill {
  height: 10px;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M763.33%20331l1.76%203.14%203.57.68-2.49%202.62.46%203.56-3.3-1.53-3.3%201.53.46-3.56-2.49-2.62%203.57-.68%201.76-3.14%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ffdc2c%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-758%20-331)%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: repeat-x; }

.product__reviews-links {
  display: inline-block; }

.product__reviews-links a {
  display: inline-block;
  position: relative;
  color: #777777;
  font-size: 13px;
  text-decoration: underline;
  padding-left: 21px; }

.product__reviews-links a:hover {
  text-decoration: none; }

.product__reviews-links a:before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 14px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.product__reviews-links a + a {
  margin-left: 30px; }

.product__inner-wrap {
  clear: both; }

.product__summary {
  width: 100%;
  max-width: 360px;
  min-height: 352px;
  background: rgba(239, 240, 243, 0.5);
  padding: 28px;
  float: left;
  margin-right: 30px; }

.product__price {
  color: #999;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 28px; }

.product__price span {
  font-size: 40px; }

.product__inform-butn {
  margin-bottom: 28px; }

.product__inform-butn .butn {
  width: 100%; }

.product__text {
  color: #777777;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 27px; }

.product__summary-share-links a {
  display: inline-block;
  position: relative;
  padding-left: 37px;
  color: #333333;
  font-size: 13px; }

.product__summary-share-links a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; }

.product__summary-share-links a + a {
  margin-left: 30px; }

.product .product-thumbnail {
  float: left;
  width: 100%;
  max-width: 285px;
  border: 1px solid #e9eaeb;
  min-height: 352px;
  padding: 45px 20px 20px; }

.product .product-thumbnail__avaliability {
  display: block; }

.product-thumbnail {
  position: relative; }

.product-thumbnail__haeding {
  position: absolute;
  padding: 0 20px;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  white-space: nowrap;
  background: #fff; }

.product-thumbnail__label {
  position: absolute;
  left: 0;
  top: 0;
  background: #ff8941;
  padding: 3px 13px 4px 13px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 13px;
  line-height: 1;
  color: #fff; }

.product-thumbnail__img {
  text-align: center;
  min-height: 148px;
  margin-bottom: 35px; }

.product-thumbnail__img img {
  max-width: 100%;
  display: inline-block; }

.product-thumbnail__data-wrap {
  max-width: 180px;
  margin: 0 auto; }

.product-thumbnail__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.product-thumbnail__avaliability {
  color: #57ae85;
  font-size: 13px;
  line-height: 1;
  position: relative;
  padding-left: 21px;
  margin-bottom: 10px; }

.product-thumbnail__avaliability_red {
  padding-left: 0;
  color: #fb2539; }

.product-thumbnail__avaliability:before {
  content: "";
  display: block;
  position: absolute;
  width: 13px;
  height: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 0;
  top: 2px; }

.product-thumbnail__code {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 1; }

.product-thumbnail__title {
  color: #333333;
  font-size: 13px;
  margin-bottom: 18px;
  line-height: 1.2; }

.product-thumbnail__price {
  color: #333333;
  font-size: 16px;
  font-weight: 700; }

.product-thumbnail__price span {
  font-size: 20px; }

.product-thumbnail__price_old {
  display: inline-block;
  text-decoration: line-through;
  color: #ff8941;
  font-size: 13px;
  margin-left: 10px; }

.product-thumbnail__butns {
  margin-bottom: 20px; }

.product-thumbnail__butns .butn {
  vertical-align: top;
  max-width: 121px;
  margin-right: 15px; }

.product-thumbnail__compare {
  display: inline-block;
  height: 39px;
  width: 39px;
  background-size: 26px 18px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top; }

.product-thumbnail__all {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
      -ms-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  white-space: nowrap;
  padding: 0 13px;
  background: #fff; }

.product-thumbnail__all a {
  color: #fb2539;
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
  border-bottom: 1px dotted #fb2539; }

.product-thumbnail__all a:hover {
  text-decoration: none;
  border-color: transparent; }

.product-thumbnail__rating {
  padding-top: 20px; }

.product-thumbnail_in-tab {
  float: right;
  width: 322px;
  border: 1px solid #e9eaeb;
  margin-top: 40px;
  padding: 20px 45px 30px;
  overflow: hidden; }

.product-thumbnail_in-tab .product-thumbnail__data-wrap {
  max-width: 100%; }

.product-thumbnail_in-tab .product-thumbnail__avaliability {
  padding-left: 0;
  color: #333333; }

.product-thumbnail_in-tab .product-thumbnail__title {
  color: #999999; }

.product-thumbnail_in-tab .product-thumbnail__price {
  color: #999999; }

.product-thumbnail_in-tab .product-thumbnail__butns {
  padding-top: 17px; }

.product-thumbnail_in-tab .butn {
  max-width: 158px;
  font-size: 14px;
  padding: 4px 11px 3px; }

.product-thumbnail_in-tab .product-thumbnail__all {
  position: static;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  padding: 0;
  background: none; }

.product-thumbnail_in-tab .product-thumbnail__all a {
  color: #333;
  border-color: #333; }

.product-thumbnail_in-tab .product-thumbnail__all a:hover {
  border-color: transparent; }

.similar-products {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.similar-products.show {
  max-height: 700px; }

.similar-products__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 35px;
  padding: 10px 90px 0 0;
  position: relative; }

.jsSimilarProductSlider {
  margin: 0 -15px 70px; }

.jsSimilarProductSlider__item {
  padding: 0 15px; }

.jsSimilarProductSlider_arrows {
  position: absolute;
  right: 0;
  top: 0; }

.slick-arrow {
  display: inline-block;
  vertical-align: top;
  width: 45px;
  height: 45px;
  background-color: #474a4e;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.slick-arrow:hover {
  background-color: #3c3f43; }

.slick-arrow:before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 17px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.slick-arrow.slick-arrow_right._left-side {
  position: absolute;
  right: 0;
  top: 0;
  height: 50%; }

.slick-arrow.slick-arrow_left._left-side {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%; }

.nav-tab {
  margin-bottom: 40px;
  font-weight: 700;
  border-bottom: 2px solid #e9eaeb;
  font-size: 0; }

.nav-tab li {
  display: inline-block;
  vertical-align: top; }

.nav-tab li + li {
  margin-left: 65px; }

.nav-tab a {
  display: block;
  position: relative;
  padding-bottom: 24px;
  font-size: 16px;
  color: #777777;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.nav-tab a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 100%;
  top: 100%;
  height: 2px;
  background-color: #fb2539;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.nav-tab a:hover {
  color: #fb2539;
  text-decoration: none; }

.nav-tab a:hover:before {
  right: 0; }

.nav-tab .active a {
  color: #fb2539;
  text-decoration: none; }

.nav-tab .active a:before {
  right: 0; }

.tabs-aside-wrap {
  min-height: 443px;
  margin-bottom: 80px; }

.tabs-aside-wrap > .tab-content {
  overflow: hidden;
  margin-right: 366px; }

.tab {
  padding-bottom: 35px;
  overflow: hidden;
  position: relative;
  max-height: 385px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }

.tab__title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px; }

.tab__table {
  width: 100%; }

.tab__table tr:nth-child(odd) {
  background-color: #eff0f3; }

.tab__table tr:nth-child(even) {
  background-color: #fff; }

.tab__table td {
  width: 50%;
  padding: 10px 23px;
  height: 44px;
  line-height: 1;
  color: #333333;
  font-size: 13px;
  font-weight: 400; }

.tab__show-more {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 35px;
  width: 100%;
  background: #fff; }

.tab__text {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4; }

.tab__text p {
  margin-bottom: 24px; }

.jsShowMore {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 18px;
  color: #333333;
  font-size: 13px; }

.jsShowMore span {
  display: inline-block;
  border-bottom: 1px solid #c2c2c2; }

.jsShowMore:hover, .jsShowMore:active, .jsShowMore:focus {
  text-decoration: none;
  color: #333333; }

.jsShowMore:hover span, .jsShowMore:active span, .jsShowMore:focus span {
  border-color: transparent; }

.jsShowMore:before {
  content: "";
  display: block;
  position: absolute;
  width: 11px;
  height: 8px;
  left: 0;
  top: 5px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%228%22%20viewBox%3D%220%200%2011%208%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M65.42%201733.49l-3.7%203.7a1%201%200%200%201-1.22%201%201%201%200%200%201-1.22-1l-3.7-3.7a1%201%200%201%201%201.41-1.42l3.51%203.52%203.51-3.52a1%201%200%201%201%201.41%201.42z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb2539%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-55%20-1731)%22%2F%3E%3C%2Fsvg%3E");
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.tab.show {
  max-height: 99999px;
  -webkit-transition: all .3s linear;
  transition: all .3s linear; }

.tab.show .jsShowMore:before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.flex-wrap-heading {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px; }

.sub-nav-tab {
  list-style: none;
  font-size: 0; }

.sub-nav-tab li {
  display: inline-block; }

.sub-nav-tab a {
  display: inline-block;
  min-width: 170px;
  padding: 11px;
  border: 1px solid #e1e1e1;
  color: #777777;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.sub-nav-tab a:hover, .sub-nav-tab a:active, .sub-nav-tab a:focus {
  color: #333333;
  text-decoration: none;
  border-color: #fb2539; }

.sub-nav-tab .active a {
  color: #333333;
  text-decoration: none;
  border-color: #fb2539; }

.testemonial {
  padding: 30px 20px 30px 30px;
  border: 1px solid #ffdc2c;
  display: none; }

.testemonial:nth-child(1), .testemonial:nth-child(2), .testemonial:nth-child(3) {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.testemonial.open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.testemonial + .testemonial {
  border-top: 0; }

.testemonial__content {
  padding: 0 25px 0 0; }

.testemonial__rating {
  min-width: 150px;
  padding: 0 0 0 25px;
  border-left: 1px solid #e9eaeb; }

.testemonial__rating-value {
  display: inline-block;
  color: #333333;
  font-size: 14px;
  font-weight: 700; }

.testemonial__name {
  display: inline-block;
  color: #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 17px; }

.testemonial__date {
  display: inline-block;
  color: #999;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-left: 25px; }

.testemonial__text {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 18px; }

.testemonial__advantages {
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px; }

.testemonial__advantages span {
  display: inline-block;
  color: #57ae85;
  font-weight: 700;
  margin-right: 5px; }

.testemonial__advantages_dis span {
  color: #f8727e; }

.testemonial__bottom-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.testemonial__links a {
  display: inline-block;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  border-bottom: 1px solid #c2c2c2; }

.testemonial__links a:hover {
  text-decoration: none;
  border-color: transparent; }

.testemonial__links a + a {
  margin-left: 34px; }

.testemonial__feedback {
  color: #777777;
  font-size: 13px;
  line-height: 1; }

.testemonial__feedback a {
  display: inline-block;
  position: relative;
  margin-left: 15px;
  padding-left: 25px;
  font-size: 13px;
  font-weight: 700; }

.testemonial__feedback a:before {
  content: "";
  display: block;
  position: absolute;
  width: 18px;
  height: 16px;
  left: 0;
  top: -3px; }

.testemonial__feedback a.good {
  color: #57ae85; }

.testemonial__feedback a.good:before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M705.97%202300.44c-.15.6-1.38%205.66-1.73%206.53-.18.45-.69%201.19-2.08%201.24h-5.66c-.67%200-1.64-.42-2.3-.76v.67c0%20.2-.07.88-1.06.88h-4.2c-.88%200-.95-.68-.95-.88v-8.36c0-.54.26-1.4.95-1.4h4.2c.63%200%20.96.74%201.04%201.2l.13-.05%201.66-3.03a8.86%208.86%200%200%201%20.16-2.38c.18-.5.87-1.06%201.7-1.1.56-.02%201.59.16%202.3%201.72.59%201.28.61%202.23.49%202.86h3.79c.22%200%20.56.09.88.5.48.59.8%201.74.67%202.36zm-12.95-.68a.78.78%200%200%200-.07-.17h-3.72a.91.91%200%200%200-.03.17v8.02h3.82zm11.32-.96h-4.55a.61.61%200%201%201-.45-1.01l-.04-.04c.01-.02.55-.77-.25-2.52-.2-.45-.56-.99-1.07-1a.92.92%200%200%200-.72.3%209.7%209.7%200%200%200-.07%202.07v.17l-2.04%203.71-.93.38v5.2c.68.4%201.8.94%202.29.94h5.48c.62%200%201-.17%201.14-.49.27-.67%201.3-4.8%201.67-6.35a2.54%202.54%200%200%200-.46-1.36z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-688%20-2293)%22%2F%3E%3C%2Fsvg%3E"); }

.testemonial__feedback a.good:hover {
  color: #57ae85;
  text-decoration: none; }

.testemonial__feedback a.good:hover:before {
  -webkit-animation: moveTop .4s infinite;
          animation: moveTop .4s infinite; }

.testemonial__feedback a.bad {
  color: #fb2539; }

.testemonial__feedback a.bad:before {
  top: 1px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M758.3%202307.93c-.32.4-.66.49-.88.49h-3.8c.13.63.1%201.58-.48%202.86-.71%201.55-1.74%201.74-2.3%201.72-.83-.04-1.52-.6-1.7-1.1-.2-.55-.18-1.8-.16-2.38l-1.66-3.03-.13-.05c-.08.46-.4%201.2-1.04%201.2h-4.2c-.69%200-.95-.86-.95-1.4v-8.36c0-.2.07-.88.95-.88h4.2c.99%200%201.07.68%201.07.88v.67a6.01%206.01%200%200%201%202.29-.77h5.65c1.39.06%201.9.8%202.08%201.24.35.88%201.58%205.95%201.73%206.54.13.62-.2%201.77-.67%202.37zm-12.28-9.71h-3.82v8.02l.03.17h3.72a.78.78%200%200%200%20.07-.17zm11.78%207.61a117%20117%200%200%200-1.67-6.34c-.13-.32-.52-.49-1.14-.49h-5.48c-.48%200-1.6.54-2.3.94v5.2l.94.37%202.04%203.72v.17c-.04.78-.02%201.78.07%202.07.07.1.36.32.72.3.51-.02.87-.55%201.07-1%20.8-1.76.26-2.5.25-2.52l.04-.04a.61.61%200%200%201%20.45-1.01h4.55c.23-.22.5-1.11.46-1.37z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-741%20-2297)%22%2F%3E%3C%2Fsvg%3E"); }

.testemonial__feedback a.bad:hover {
  color: #fb2539;
  text-decoration: none; }

.testemonial__feedback a.bad:hover:before {
  -webkit-animation: moveDown .4s infinite;
          animation: moveDown .4s infinite; }

.testemonial__answers {
  padding: 40px 0 0 90px;
  display: none; }

.testemonial__answer {
  margin-bottom: 40px; }

.tab_testemonials, .tab_vid, .tab_autoheight {
  max-height: initial; }

.tab__video {
  margin-bottom: 60px; }

.video-holder {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-holder iframe, .video-holder object, .video-holder embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.article {
  width: 681px;
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.article__img {
  width: 307px;
  min-width: 307px;
  height: 238px; }

.article__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.article__summary {
  height: 238px;
  padding: 30px;
  border: 1px solid #e9eaeb; }

.article__date {
  color: #999999;
  font-size: 12px;
  line-height: 1;
  margin-bottom: 10px; }

.article__title {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px; }

.article__text {
  height: 73px;
  overflow: hidden;
  width: 100%; }

.tab__articles {
  position: relative; }

.jsSliderArticles {
  margin: 0 0 0 -15px;
  padding-right: 45px; }

.jsSliderArticles__item {
  padding: 0 15px; }

.tab__img-wrap {
  text-align: justify;
  font-size: 0; }

.tab__img-wrap:after {
  content: "";
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  display: inline-block; }

.tab__img {
  display: inline-block;
  vertical-align: middle; }

.tab__img img {
  max-width: 100%; }

.additional-prod {
  margin-bottom: 55px; }

.additional-prod__title {
  color: #333333;
  font-size: 28px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 16px; }

.additional-prod .tab-pane .jsProductsThumbsSlider {
  padding-top: 45px; }

.additional-prod .tab-pane .jsProductsThumbsSlider .slick-arrow {
  top: 0; }

.additional-prod-tabs-nav {
  list-style: none;
  font-size: 0;
  position: relative;
  z-index: 1;
  margin-bottom: -35px; }

.additional-prod-tabs-nav li {
  display: inline-block; }

.additional-prod-tabs-nav a {
  display: inline-block;
  padding: 12px 15px 11px;
  border: 1px solid #e1e1e1;
  color: #333;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.additional-prod-tabs-nav a:hover, .additional-prod-tabs-nav a:active, .additional-prod-tabs-nav a:focus {
  color: #333333;
  text-decoration: none;
  border-color: #fb2539; }

.additional-prod-tabs-nav .active a {
  color: #333333;
  text-decoration: none;
  border-color: #fb2539; }

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
  display: block;
  /* undo display:none          */
  height: 0;
  /* height:0 is also invisible */
  overflow: hidden;
  /* no-overflow                */ }

.tab-content > .active, .pill-content > .active {
  height: auto;
  /* let the content decide it  */ }

/* bootstrap hack end */
.jsProductsThumbsSlider {
  margin: 0 -15px;
  position: relative; }

.jsProductsThumbsSlider__item {
  padding: 25px 15px; }

.jsProductsThumbsSlider .slick-arrow {
  position: absolute;
  top: -45px;
  right: 0;
  z-index: 9; }

.jsProductsThumbsSlider .slick-arrow_right {
  right: 15px; }

.jsProductsThumbsSlider .slick-arrow_left {
  right: 60px; }

.jsProductsThumbsSlider_solid {
  padding-right: 45px;
  border-left: 3px solid #eff0f3; }

.jsProductsThumbsSlider_solid .product-thumbnail {
  width: 238px;
  padding: 45px 20px 27px;
  border-top: 3px solid #eff0f3;
  border-bottom: 3px solid #eff0f3;
  border-right: 3px solid #eff0f3; }

.jsProductsThumbsSlider_solid .product-thumbnail .butn {
  min-width: 96px; }

.showAll {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  display: inline-block;
  margin-left: 60px;
  padding-right: 19px;
  position: relative; }

.showAll span {
  display: inline-block;
  border-bottom: 1px solid #c2c2c2; }

.showAll:hover {
  color: #333333;
  text-decoration: none; }

.showAll:hover span {
  border-color: transparent; }

.showAll:after {
  content: "";
  display: block;
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 11px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%228%22%20height%3D%2211%22%20viewBox%3D%220%200%208%2011%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M558.49%205111.57l3.7%203.71a1%201%200%200%201%201%201.22%201%201%200%200%201-1%201.22l-3.7%203.7a1%201%200%201%201-1.41-1.41l3.5-3.51-3.5-3.51a1%201%200%201%201%201.4-1.42z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb2539%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-556%20-5111)%22%2F%3E%3C%2Fsvg%3E");
  right: 0;
  top: 3px; }

/*content styles end*/
footer {
  background-color: #474a4e;
  overflow: hidden; }

.footer__left {
  padding: 49px 45px 30px 0;
  margin-right: 278px;
  overflow: hidden; }

.footer__right {
  width: 278px;
  padding: 49px 0 80px 65px;
  float: right;
  position: relative; }

.footer__right * {
  position: relative;
  z-index: 1; }

.footer__right .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 500%;
  height: 300%;
  background-color: #3c3f43;
  z-index: 0; }

.footer__item {
  float: left; }

.footer__title {
  opacity: 0.77;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 15px; }

.footer__list {
  display: block;
  list-style: none;
  min-width: 185px;
  float: left;
  overflow: hidden; }

.footer__list li {
  margin-bottom: 15px; }

.footer__list a {
  opacity: 0.44;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.footer__list a:hover {
  color: #ffffff;
  opacity: 1;
  text-decoration: none; }

.footer__phone {
  margin-bottom: 55px; }

.footer__phone a {
  display: inline-block;
  opacity: 0.77;
  color: #ffffff;
  font-size: 23px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px; }

.footer__phone a:hover {
  text-decoration: none;
  opacity: 1;
  color: #ffffff; }

.footer__phone p {
  color: #999;
  font-size: 12px;
  font-weight: 400; }

.footer__soc {
  font-size: 0; }

.footer__soc-title {
  opacity: 0.5;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px; }

.footer__soc a {
  display: inline-block;
  width: 42px;
  height: 42px;
  margin: 0 21px 23px 0; }

.copyright-line {
  margin-top: 45px;
  border-top: 1px solid #595c5f;
  padding-top: 30px;
  color: #999;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.dev-logo {
  width: 93px;
  height: 16px;
  background-size: contain;
  display: inline-block;
  vertical-align: top;
  margin-left: 5px; }
