/*buttons*/
.butn {
    display: inline-block;
    min-width: 151px;
    padding: 11px;
    border: 2px solid #ffdc2c;
    color: #333333;
    font-family: "Proxima Nova", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    @include trans;
    &:hover, &:active, &:focus{
        color: #333333;
        background: #ffdc2c;
        text-decoration: none;
    }
    &_red-border{
        border: 2px solid #fb2539;
        padding: 18px 11px 17px;
        font-size: 18px;
        font-weight: 700;
        &:hover, &:active, &:focus{
            color: #fff;
            background: #fb2539;
        }
    }
    &_yellow{
        background: #ffdc2c;
        font-weight: 700;
        &:hover, &:active, &:focus{
            background: #fff;
        }
    }
    &_red{
        background-color: #fb2539;
        color: #ffffff;
        border-color: #fb2539;
        &:hover{
            background-color: #fff;
            color: #333333;
        }

    }
}

/*buttons end*/
