/*content styles*/
main {
    padding-top: 19px;
    position: relative;
    z-index: 1;
    background: #fff;
}

.bread-crumb {
    margin-bottom: 25px;
    a {
        display: inline-block;
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        &:hover {
            text-decoration: underline;
        }
    }
    .current {
        text-decoration: none;
        cursor: default;
        &:hover {
            text-decoration: none;
        }
    }
    a + a {
        &:before {
            display: inline-block;
            content: '>';
            margin: 0 16px;
        }
    }
}

.slider-nav {
    width: 100%;
    max-width: 170px;
    height: 400px;
    float: left;
    margin: 0 0 0 -5px;
    .slick-track {
        width: 150px !important;
    }
    &__item {
        width: 75px !important;
        float: left !important;
        padding: 0 5px 10px;
    }
    &__img {
        width: 65px;
        height: 65px;
        border: 1px solid #e9eaeb;
        text-align: center !important;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            visibility: hidden;
            vertical-align: middle;
        }
        img {
            max-width: 100%;
            display: inline-block;
        }
        &_video {
            position: relative;
            &:after {
                @include pseudo;
                @include center;
                width: 31px;
                height: 31px;
                border-radius: 50%;
                background: #fff url("../img/icon-play.svg") no-repeat center;
            }
        }
    }
    &__item.slick-current, &__item:hover {
        .slider-nav__img {
            border: 1px solid #ffdc2c;
        }
    }
}

.slider-for {
    overflow: hidden;
    width: 400px;
    height: 400px;
    .slick-list {
        height: 100%;
    }
    .slick-track {
        height: 100%;
    }
    &__item {
        text-align: center;
        &:before {
            content: '';
            display: inline-block;
            height: 100%;
            width: 0;
            visibility: hidden;
            vertical-align: middle;
        }
        .js3d img {
            max-width: 100%;
            display: inline-block;
        }
    }
}

/*EasyZoom core styles*/
.easyzoom {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.easyzoom img {
    vertical-align: bottom;
}

.easyzoom.is-loading img {
    cursor: progress;
}

.easyzoom.is-ready img {
    cursor: crosshair;
}

.easyzoom.is-error img {
    cursor: not-allowed;
}

.easyzoom-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 150;
    width: 10em;
    margin: -1em 0 0 -5em;
    line-height: 2em;
    text-align: center;
    background: #FFF;
    box-shadow: 0 0 10px #888;
}

.easyzoom-flyout {
    position: absolute;
    z-index: 999;
    overflow: hidden;
    background: #FFF;
}

/*EasyZoom core styles end*/
/*EasyZoom layout variations*/
.easyzoom--overlay .easyzoom-flyout {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.easyzoom--adjacent .easyzoom-flyout {
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

/*EasyZoom layout variations end*/

.video-container {
    position: absolute;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.slider-for .slider-for__item .js3d {
    display: inline-block;
    width: 394px;
    height: 400px;
    overflow: hidden;
    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        width: 0;
        visibility: hidden;
    }
    img {
        display: inline-block !important;
        width: auto !important;
        height: auto !important;
        vertical-align: middle;
    }
}

#view_overlay {
    top: 0 !important;
    left: 0 !important;
    cursor: e-resize;
}

.product {
    margin-bottom: 70px;
    &__title {
        color: #333;
        font-size: 34px;
        font-weight: 700;
        line-height: 1;
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;
    }
    &__code {
        min-width: 139px;
        padding: 12px 10px 11px 17px;
        background-color: #ffdc2c;
        line-height: 1;
        color: #333333;
        font-size: 13px;
        position: relative;
        &:before {
            @include pseudo;
            height: 12px;
            width: 12px;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            background: #fff;
        }
    }
    &__img {
        float: left;
        min-width: 565px;

    }
    &__info {
        overflow: hidden;
        padding-left: 40px;
        padding-bottom: 10px;
    }
    &__info-heading {
        margin-bottom: 35px;
    }
    &__availability {
        display: inline-block;
        color: #333333;
        font-size: 13px;
        margin-right: 27px;
    }
    &__stars {
        display: inline-block;
        position: relative;
        width: 55px;
        height: 10px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M763.33%20331l1.76%203.14%203.57.68-2.49%202.62.46%203.56-3.3-1.53-3.3%201.53.46-3.56-2.49-2.62%203.57-.68%201.76-3.14%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23999%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-758%20-331)%22%2F%3E%3C%2Fsvg%3E');
        background-repeat: repeat-x;
        margin-right: 30px;
        &_fill {
            height: 10px;
            position: absolute;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2210%22%20viewBox%3D%220%200%2011%2010%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M763.33%20331l1.76%203.14%203.57.68-2.49%202.62.46%203.56-3.3-1.53-3.3%201.53.46-3.56-2.49-2.62%203.57-.68%201.76-3.14%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ffdc2c%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-758%20-331)%22%2F%3E%3C%2Fsvg%3E');
            background-repeat: repeat-x;
        }
    }
    &__reviews-links {
        display: inline-block;
        a {
            display: inline-block;
            position: relative;
            color: #777777;
            font-size: 13px;
            text-decoration: underline;
            padding-left: 21px;
            &:hover {
                text-decoration: none;
            }
            &:before {
                @include pseudo;
                width: 13px;
                height: 14px;
                left: 0;
                top: 0;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            + a {
                margin-left: 30px;
            }
        }

    }
    &__inner-wrap {
        clear: both;
    }
    &__summary {
        width: 100%;
        max-width: 360px;
        min-height: 352px;
        background: rgba(#eff0f3, 0.5);
        padding: 28px;
        float: left;
        margin-right: 30px;
    }
    &__price {
        color: #999;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 28px;
        span {
            font-size: 40px;
        }
    }
    &__inform-butn {
        margin-bottom: 28px;
        .butn {
            width: 100%;
        }
    }
    &__text {
        color: #777777;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        margin-bottom: 27px;
    }
    &__summary-share-links {
        a {
            display: inline-block;
            position: relative;
            padding-left: 37px;
            color: #333333;
            font-size: 13px;
            &:before {
                @include pseudo;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 26px;
                height: 21px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
            }
            + a {
                margin-left: 30px;
            }
        }
    }
    .product-thumbnail {
        float: left;
        width: 100%;
        max-width: 285px;
        border: 1px solid #e9eaeb;
        min-height: 352px;
        padding: 45px 20px 20px;
        &__avaliability {
            display: block;
        }
    }
}

.product-thumbnail {
    position: relative;
    &__haeding {
        position: absolute;
        padding: 0 20px;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #333333;
        font-size: 22px;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        background: #fff;
    }
    &__label {
        position: absolute;
        left: 0;
        top: 0;
        background: #ff8941;
        padding: 3px 13px 4px 13px;
        border-radius: 4px;
        font-size: 13px;
        line-height: 1;
        color: #fff;
    }
    &__img {
        text-align: center;
        min-height: 148px;
        margin-bottom: 35px;
        img {
            max-width: 100%;
            display: inline-block;
        }
    }
    &__data-wrap {
        max-width: 180px;
        margin: 0 auto;
    }
    &__info {
        display: flex;
        justify-content: space-between;
    }
    &__avaliability {
        color: #57ae85;
        font-size: 13px;
        line-height: 1;
        position: relative;
        padding-left: 21px;
        margin-bottom: 10px;
        &_red {
            padding-left: 0;
            color: #fb2539;
        }
        &:before {
            @include pseudo;
            width: 13px;
            height: 8px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            left: 0;
            top: 2px;
        }
    }
    &__code {
        color: #999999;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
    }
    &__title {
        color: #333333;
        font-size: 13px;
        margin-bottom: 18px;
        line-height: 1.2;
    }
    &__price {
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        span {
            font-size: 20px;
        }
        &_old {
            display: inline-block;
            text-decoration: line-through;
            color: #ff8941;
            font-size: 13px;
            margin-left: 10px;
        }
    }
    &__butns {
        margin-bottom: 20px;
        .butn {
            vertical-align: top;
            max-width: 121px;
            margin-right: 15px;
        }
    }
    &__compare {
        display: inline-block;
        height: 39px;
        width: 39px;
        background-size: 26px 18px;
        background-repeat: no-repeat;
        background-position: center;
        vertical-align: top;
    }
    &__all {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        white-space: nowrap;
        padding: 0 13px;
        background: #fff;
        a {
            color: #fb2539;
            font-size: 13px;
            font-weight: 400;
            display: inline-block;
            border-bottom: 1px dotted #fb2539;
            &:hover {
                text-decoration: none;
                border-color: transparent;
            }
        }
    }
    &__rating {
        padding-top: 20px;
    }
}

.product-thumbnail_in-tab {
    float: right;
    width: 322px;
    border: 1px solid #e9eaeb;
    margin-top: 40px;
    padding: 20px 45px 30px;
    overflow: hidden;
    .product-thumbnail__data-wrap {
        max-width: 100%;
    }
    .product-thumbnail__avaliability {
        padding-left: 0;
        color: #333333;
    }
    .product-thumbnail__title {
        color: #999999;
    }
    .product-thumbnail__price {
        color: #999999;
    }
    .product-thumbnail__butns {
        padding-top: 17px;
    }
    .butn {
        max-width: 158px;
        font-size: 14px;
        padding: 4px 11px 3px;
    }
    .product-thumbnail__all {
        position: static;
        transform: translate(0, 0);
        padding: 0;
        background: none;
        a {
            color: #333;
            border-color: #333;
            &:hover {
                border-color: transparent;
            }
        }
    }

}

.similar-products {
    max-height: 0;
    overflow: hidden;
    @include trans;
    &.show {
        max-height: 700px;
    }

    &__title {
        font-size: 25px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 35px;
        padding: 10px 90px 0 0;
        position: relative;
    }
}

.jsSimilarProductSlider {
    margin: 0 -15px 70px;
    &__item {
        padding: 0 15px;
    }
    &_arrows {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.slick-arrow {
    display: inline-block;
    vertical-align: top;
    width: 45px;
    height: 45px;
    background-color: #474a4e;
    cursor: pointer;
    position: relative;
    @include trans;
    &:hover {
        background-color: #3c3f43;
    }
    &:before {
        @include pseudo;
        width: 11px;
        height: 17px;
        @include center;
    }
    &.slick-arrow_right._left-side {
        position: absolute;
        right: 0;
        top: 0;
        height: 50%;
    }
    &.slick-arrow_left._left-side {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 50%;
    }
}

.nav-tab {
    margin-bottom: 40px;

    font-weight: 700;
    border-bottom: 2px solid #e9eaeb;
    font-size: 0;

    li {
        display: inline-block;
        vertical-align: top;
        + li {
            margin-left: 65px;
        }
    }
    a {
        display: block;
        position: relative;
        padding-bottom: 24px;
        font-size: 16px;
        color: #777777;
        line-height: 1;
        @include trans;
        &:before {
            @include pseudo;
            left: 0;
            right: 100%;
            top: 100%;
            height: 2px;
            background-color: #fb2539;
            @include trans;
        }
        &:hover {
            color: #fb2539;
            text-decoration: none;
            &:before {
                right: 0;
            }
        }
    }
    .active {
        a {
            color: #fb2539;
            text-decoration: none;
            &:before {
                right: 0;
            }
        }
    }
}

.prod-details {

}

.tabs-aside-wrap {
    min-height: 443px;
    //overflow: hidden;
    margin-bottom: 80px;
    > .tab-content {
        overflow: hidden;
        margin-right: 366px;
    }
}

.tab {
    padding-bottom: 35px;
    overflow: hidden;
    position: relative;
    max-height: 385px;
    transition: all .3s linear;
    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 15px;
    }
    &__table {
        width: 100%;
        tr {
            &:nth-child(odd) {
                background-color: #eff0f3;
            }
            &:nth-child(even) {
                background-color: #fff;
            }
        }
        td {
            width: 50%;
            padding: 10px 23px;
            height: 44px;
            line-height: 1;
            color: #333333;
            font-size: 13px;
            font-weight: 400;
        }
    }
    &__show-more {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 35px;
        width: 100%;
        background: #fff;
    }
    &__text {
        color: #333333;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        p {
            margin-bottom: 24px;
        }
    }
}

.jsShowMore {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 18px;
    color: #333333;
    font-size: 13px;
    span {
        display: inline-block;
        border-bottom: 1px solid #c2c2c2;
    }
    &:hover, &:active, &:focus {
        text-decoration: none;
        color: #333333;
        span {
            border-color: transparent;
        }

    }
    &:before {
        @include pseudo;
        width: 11px;
        height: 8px;
        left: 0;
        top: 5px;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%228%22%20viewBox%3D%220%200%2011%208%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M65.42%201733.49l-3.7%203.7a1%201%200%200%201-1.22%201%201%201%200%200%201-1.22-1l-3.7-3.7a1%201%200%201%201%201.41-1.42l3.51%203.52%203.51-3.52a1%201%200%201%201%201.41%201.42z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb2539%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-55%20-1731)%22%2F%3E%3C%2Fsvg%3E');
        @include trans;
    }
}

.tab.show {
    max-height: 99999px;
    transition: all .3s linear;
    .jsShowMore {
        &:before {
            transform: rotate(180deg);
        }
    }
}

.flex-wrap-heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.sub-nav-tab {
    list-style: none;
    font-size: 0;

    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        min-width: 170px;
        padding: 11px;
        border: 1px solid #e1e1e1;
        color: #777777;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        @include trans;
        &:hover, &:active, &:focus {
            color: #333333;
            text-decoration: none;
            border-color: #fb2539;
        }
    }
    .active a {
        color: #333333;
        text-decoration: none;
        border-color: #fb2539;
    }

}

.testemonial {
    padding: 30px 20px 30px 30px;
    border: 1px solid #ffdc2c;
    display: none;
    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        display: flex !important;
    }
    &.open {
        display: flex;
    }
    + .testemonial {
        border-top: 0;
    }
    &__content {
        padding: 0 25px 0 0;
    }
    &__rating {
        min-width: 150px;
        padding: 0 0 0 25px;
        border-left: 1px solid #e9eaeb;
    }
    &__stars {

    }
    &__rating-value {
        display: inline-block;
        color: #333333;
        font-size: 14px;
        font-weight: 700;
    }
    &__name {
        display: inline-block;
        color: #333333;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 17px;
    }
    &__date {
        display: inline-block;
        color: #999;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        margin-left: 25px;
    }
    &__text {
        color: #333333;
        font-size: 13px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 18px;
    }
    &__advantages {
        color: #333333;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 20px;
        span {
            display: inline-block;
            color: #57ae85;
            font-weight: 700;
            margin-right: 5px;
        }
        &_dis {
            span {
                color: #f8727e;
            }
        }
    }
    &__bottom-info {
        display: flex;
        justify-content: space-between;
    }
    &__links {
        a {
            display: inline-block;
            color: #333333;
            font-size: 13px;
            font-weight: 400;
            line-height: 1;
            border-bottom: 1px solid #c2c2c2;
            &:hover {
                text-decoration: none;
                border-color: transparent;
            }
            + a {
                margin-left: 34px;
            }
        }
    }
    &__feedback {
        color: #777777;
        font-size: 13px;
        line-height: 1;
        a {
            display: inline-block;
            position: relative;
            margin-left: 15px;
            padding-left: 25px;
            font-size: 13px;
            font-weight: 700;
            &:before {
                @include pseudo;
                width: 18px;
                height: 16px;
                left: 0;
                top: -3px;
            }

            &.good {
                color: #57ae85;
                &:before {
                    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M705.97%202300.44c-.15.6-1.38%205.66-1.73%206.53-.18.45-.69%201.19-2.08%201.24h-5.66c-.67%200-1.64-.42-2.3-.76v.67c0%20.2-.07.88-1.06.88h-4.2c-.88%200-.95-.68-.95-.88v-8.36c0-.54.26-1.4.95-1.4h4.2c.63%200%20.96.74%201.04%201.2l.13-.05%201.66-3.03a8.86%208.86%200%200%201%20.16-2.38c.18-.5.87-1.06%201.7-1.1.56-.02%201.59.16%202.3%201.72.59%201.28.61%202.23.49%202.86h3.79c.22%200%20.56.09.88.5.48.59.8%201.74.67%202.36zm-12.95-.68a.78.78%200%200%200-.07-.17h-3.72a.91.91%200%200%200-.03.17v8.02h3.82zm11.32-.96h-4.55a.61.61%200%201%201-.45-1.01l-.04-.04c.01-.02.55-.77-.25-2.52-.2-.45-.56-.99-1.07-1a.92.92%200%200%200-.72.3%209.7%209.7%200%200%200-.07%202.07v.17l-2.04%203.71-.93.38v5.2c.68.4%201.8.94%202.29.94h5.48c.62%200%201-.17%201.14-.49.27-.67%201.3-4.8%201.67-6.35a2.54%202.54%200%200%200-.46-1.36z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-688%20-2293)%22%2F%3E%3C%2Fsvg%3E');
                }
                &:hover {
                    color: #57ae85;
                    text-decoration: none;
                    &:before {
                        animation: moveTop .4s infinite;
                    }
                }

            }
            &.bad {
                color: #fb2539;
                &:before {
                    top: 1px;
                    background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2216%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M758.3%202307.93c-.32.4-.66.49-.88.49h-3.8c.13.63.1%201.58-.48%202.86-.71%201.55-1.74%201.74-2.3%201.72-.83-.04-1.52-.6-1.7-1.1-.2-.55-.18-1.8-.16-2.38l-1.66-3.03-.13-.05c-.08.46-.4%201.2-1.04%201.2h-4.2c-.69%200-.95-.86-.95-1.4v-8.36c0-.2.07-.88.95-.88h4.2c.99%200%201.07.68%201.07.88v.67a6.01%206.01%200%200%201%202.29-.77h5.65c1.39.06%201.9.8%202.08%201.24.35.88%201.58%205.95%201.73%206.54.13.62-.2%201.77-.67%202.37zm-12.28-9.71h-3.82v8.02l.03.17h3.72a.78.78%200%200%200%20.07-.17zm11.78%207.61a117%20117%200%200%200-1.67-6.34c-.13-.32-.52-.49-1.14-.49h-5.48c-.48%200-1.6.54-2.3.94v5.2l.94.37%202.04%203.72v.17c-.04.78-.02%201.78.07%202.07.07.1.36.32.72.3.51-.02.87-.55%201.07-1%20.8-1.76.26-2.5.25-2.52l.04-.04a.61.61%200%200%201%20.45-1.01h4.55c.23-.22.5-1.11.46-1.37z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-741%20-2297)%22%2F%3E%3C%2Fsvg%3E');
                }
                &:hover {
                    color: #fb2539;
                    text-decoration: none;
                    &:before {
                        animation: moveDown .4s infinite;
                    }
                }

            }
        }
    }
    &__answers {
        padding: 40px 0 0 90px;
        display: none;
    }
    &__answer {
        margin-bottom: 40px;
    }
}

.tab_testemonials, .tab_vid, .tab_autoheight {
    max-height: initial;
}

.tab__video {
    margin-bottom: 60px;
}

.video-holder {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-holder iframe, .video-holder object, .video-holder embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.article {
    width: 681px;
    max-width: 100%;
    display: flex;
    &__img {
        width: 307px;
        min-width: 307px;
        height: 238px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    &__summary {
        height: 238px;
        padding: 30px;
        border: 1px solid #e9eaeb;
    }
    &__date {
        color: #999999;
        font-size: 12px;
        line-height: 1;
        margin-bottom: 10px;
    }
    &__title {
        color: #333333;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    &__text {
        height: 73px;
        overflow: hidden;
        width: 100%;

    }
}

.tab__articles {
    position: relative;
}

.jsSliderArticles {
    margin: 0 0 0 -15px;
    padding-right: 45px;
    &__item {
        padding: 0 15px;
    }
}

.tab__img-wrap {
    @include jusWrap;
    font-size: 0;

}

.tab__img {
    display: inline-block;
    vertical-align: middle;
    img {
        max-width: 100%;
    }
}

.additional-prod {
    margin-bottom: 55px;
    &__title {
        color: #333333;
        font-size: 28px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 16px;
    }
    .tab-pane .jsProductsThumbsSlider {
        padding-top: 45px;
        .slick-arrow {
            top: 0;
        }
    }
}

.additional-prod-tabs-nav {
    list-style: none;
    font-size: 0;
    position: relative;
    z-index: 1;
    margin-bottom: -35px;
    li {
        display: inline-block;
    }
    a {
        display: inline-block;
        padding: 12px 15px 11px;
        border: 1px solid #e1e1e1;
        color: #333;
        font-size: 14px;
        line-height: 1;
        text-align: center;
        @include trans;
        &:hover, &:active, &:focus {
            color: #333333;
            text-decoration: none;
            border-color: #fb2539;
        }
    }
    .active a {
        color: #333333;
        text-decoration: none;
        border-color: #fb2539;
    }
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane, .pill-content > .pill-pane {
    display: block; /* undo display:none          */
    height: 0; /* height:0 is also invisible */
    overflow: hidden; /* no-overflow                */
}

.tab-content > .active, .pill-content > .active {
    height: auto; /* let the content decide it  */
}

/* bootstrap hack end */

.jsProductsThumbsSlider {
    margin: 0 -15px;
    position: relative;
    &__item {
        padding: 25px 15px;
    }
    .slick-arrow {
        position: absolute;
        top: -45px;
        right: 0;
        z-index: 9;
    }
    .slick-arrow_right {
        right: 15px;
    }
    .slick-arrow_left {
        right: 60px;
    }
}

.jsProductsThumbsSlider_solid {
    padding-right: 45px;
    border-left: 3px solid #eff0f3;
    .product-thumbnail{
        width: 238px;
        padding: 45px 20px 27px;
        border-top: 3px solid #eff0f3;
        border-bottom: 3px solid #eff0f3;
        border-right: 3px solid #eff0f3;

        .butn{
            min-width: 96px;
        }
    }
}
.showAll{
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: inline-block;
    margin-left: 60px;
    padding-right: 19px;
    position: relative;
    span{
        display: inline-block;
        border-bottom: 1px solid #c2c2c2;
    }
    &:hover{
        span{
            border-color: transparent;
        }
        color: #333333;
        text-decoration: none;

    }
    &:after{
        @include pseudo;
        display: inline-block;
        width: 8px;
        height: 11px;
        background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%228%22%20height%3D%2211%22%20viewBox%3D%220%200%208%2011%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M558.49%205111.57l3.7%203.71a1%201%200%200%201%201%201.22%201%201%200%200%201-1%201.22l-3.7%203.7a1%201%200%201%201-1.41-1.41l3.5-3.51-3.5-3.51a1%201%200%201%201%201.4-1.42z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb2539%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-556%20-5111)%22%2F%3E%3C%2Fsvg%3E');
        right: 0;
        top: 3px;
    }



}

/*content styles end*/