/*fonts*/
@font-face {
	font-family: "Proxima Nova";
	src: url('../fonts/proximanova/proximanova-bold-webfont.eot');
	src: url('../fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/proximanova-bold-webfont.woff2') format('woff2'),
	url('../fonts/proximanova/proximanova-bold-webfont.woff') format('woff'),
	url('../fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url('../fonts/proximanova/proximanova-reg-webfont.eot');
	src: url('../fonts/proximanova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/proximanova/proximanova-reg-webfont.woff2') format('woff2'),
	url('../fonts/proximanova/proximanova-reg-webfont.woff') format('woff'),
	url('../fonts/proximanova/proximanova-reg-webfont.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
/*fonts end*/
