footer{
    background-color: #474a4e;
    overflow: hidden;

}
.container{

}
.footer{
    &__left{
        padding: 49px 45px 30px 0;
        margin-right:278px;
        overflow: hidden;
    }
    &__right{
        width: 278px;
        padding: 49px 0 80px 65px;
        float: right;
        position: relative;
        *{
            position: relative;
            z-index: 1;
        }
       .bg{
           position: absolute;
           top: 0;
           left: 0;
           width: 500%;
           height: 300%;
           background-color: #3c3f43;
           z-index: 0;

       }
    }
    &__item{
        float: left;
    }
    &__title{
        opacity: 0.77;
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 15px;
    }
    &__list{
        display: block;
        list-style: none;
        min-width: 185px;
        float: left;
        overflow: hidden;
        li{
            margin-bottom: 15px;
        }
        a{
            opacity: 0.44;
            color: #ffffff;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            @include trans;
            &:hover{
                color: #ffffff;
                opacity: 1;
                text-decoration: none;
            }
        }
    }
    &__phone{
        margin-bottom: 55px;
        a{
            display: inline-block;
            opacity: 0.77;
            color: #ffffff;
            font-size: 23px;
            font-weight: 700;
            line-height: 1;
            margin-bottom: 20px;
            &:hover{
                text-decoration: none;
                opacity: 1;
                color: #ffffff;
            }
        }
        p{
            color: #999;
            font-size: 12px;
            font-weight: 400;
        }
    }
    &__soc{
        font-size: 0;
        &-title{
            opacity: 0.5;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 20px;
        }
        a{
            display: inline-block;
            width: 42px;
            height: 42px;
            margin: 0 21px 23px 0;


        }
    }

}
.copyright-line{
    margin-top: 45px;
    border-top:1px solid #595c5f;
    padding-top:30px;
    color: #999;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    display: flex;
    justify-content: space-between;
}
.dev-logo {
    width: 93px;
    height: 16px;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}
