/*general styles*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	&:active, &:focus{
		outline: none!important;
		text-decoration: none!important;
	}
}

html{
	height: 100%;
}
body{
	min-height: 100%;
	background: #fff;
	font-family: "Proxima Nova", sans-serif;
	font-weight: 400;
	font-size: 13px;
}
h1,h2,h3,h4,h5,h6,ul,ol{
	margin: 0;
	padding: 0;
}
.container{
	@media (min-width: 1320px){
		width: 1310px;
	}
}
.clearfix:before, .clearfix:after{
	content: ' ';
	display: table;
	clear: both;
}
.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display:         flex;
}
.justify-wrap{
	@include jusWrap;
	font-size: 0;
	&__item{
		display: inline-block;
		vertical-align: top;
	}
}
/*general styles end*/
