/*header*/
.header{
    &__top{
        background-color: #eff0f3;
    }
}
.main-nav{
    li{
        display: inline-block;
        + li{
            margin-left: 35px;
        }
    }
    a{
        display: block;
        padding: 15px 0 16px;
        font-size: 13px;
        color: #777;
        font-weight: 400;
        line-height: 1;
        &:hover{
            text-decoration: none;
            color: #333;
        }
    }
}
.lang-switch{
    display: inline-block;
    margin-right: 85px;
    a{
        display: block;
        font-size: 13px;
        color: #777;
        font-weight: 400;
        line-height: 1;
        padding: 15px 0 16px;
        &:hover{
            text-decoration: none;
            color: #333;
        }
    }
    li{
        display: inline-block;
        + li {
            margin-left: 25px;
        }
    }
    .active{
        a{
            position: relative;
            color: #333;
            &:after{
                @include pseudo;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: #fb2539;
            }
        }
    }
}
.user-location{
    display: inline-block;
    position: relative;
    font-size: 13px;
    &__title{
        display: inline-block;
        color: #555;
        font-weight: 400;
        line-height: 1;
        margin-right: 13px;
    }
    &__dropdown{
        display: inline-block;
        border-right: 1px solid #d8d9dc;
        border-left: 1px solid #d8d9dc;
        &_transp{
            position: relative;
            border: 1px solid #d8d9dc;
            min-width: 264px;

            .user-location__current{
                text-align: left;
                color: #333333;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                padding:12px 25px 13px 15px;
            }
            .user-location__list{
                border: 1px solid #d8d9dc;
                background: #fff;
                a{
                    padding-left: 15px;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
    &__current{
        color: #333333;
        line-height: 1;
        padding: 15px 25px 16px 5px;
        text-align: center;
        min-width: 77px;
        position: relative;
        cursor: pointer;
        &:before, &:after{
            @include pseudo;
            width: 6px;
            height: 1px;
            background: #333;
            top: 50%;
            @include trans;
        }
        &:before{
            right: 10px;
            transform: rotate(-45deg);

        }
        &:after{
            transform: rotate(45deg);
            right: 14px;
        }
        &.open{
            &:before{
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
        }
    }
    &__list{
        display: none;
        padding: 5px 0;
        position: absolute;
        width: 100%;
        right: 0;
        top: 100%;
        max-height: 400px;
        overflow-y: scroll;
        list-style: none;
        background-color: #eff0f3;
        border: 1px solid #d8d9dc;
        z-index: 9;
        a{
            display: block;
            color: #555;
            line-height: 1;
            padding: 5px;
            &:hover{
                text-decoration: none;
                background: #d8d9dc;
            }
        }
    }

}
.autorization{
    font-size: 13px;
    &__item{
        display: inline-block;
        padding: 15px 0 16px;
        line-height: 1;
        color: #777;
        + .autorization__item{
            margin-left: 35px;
        }
        &:hover{
            text-decoration: none;
            color: #333333;
        }
        &_login{
            color: #fb2539;
            position: relative;
            padding-left: 20px;
            &:before{
                @include pseudo;
                width: 11px;
                height: 14px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2211%22%20height%3D%2214%22%20viewBox%3D%220%200%2011%2014%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1456%2018.94v6.85c0%20.66-.52%201.21-1.15%201.21h-8.7c-.63%200-1.15-.55-1.15-1.21v-6.85c0-.67.52-1.21%201.15-1.21h.85v-2.16c0-1.4%201.1-2.57%202.44-2.57h2.33a2.52%202.52%200%200%201%202.44%202.57v.13c0%20.32-.26.58-.56.58-.3%200-.55-.26-.55-.58v-.13c0-.78-.6-1.4-1.33-1.4h-2.33c-.74%200-1.34.62-1.34%201.4v2.14h6.75c.63%200%201.15.55%201.15%201.23zm-1.09%206.85v-6.85c0-.02-.01-.05-.04-.05h-8.7c-.02%200-.05.01-.05.05v6.85c0%20.02.01.05.04.05h8.7s.04-.02.04-.05zm-4.4-4.66c.68%200%201.24.58%201.24%201.3%200%20.73-.56%201.32-1.24%201.32-.69%200-1.25-.59-1.25-1.31%200-.73.56-1.31%201.25-1.31z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fb2539%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1445%20-13)%22%2F%3E%3C%2Fsvg%3E');
            }
        }
    }
}
.header__middle{
    .justify-wrap{
        height: 112px;
        &:before{
            content: "";
            height: 100%;
            width: 0;
            visibility: hidden;
            overflow: hidden;
            display: inline-block;
            vertical-align: middle;
        }
        &__item{
            vertical-align: middle;
        }

    }
}
.logo{
    display: block;
    width: 234px;
    height: 112px;
    background-color: #ffdc2c;
    position: relative;
    margin-right: 30px;
    float: left;
    img{
        max-width: 100%;
        position: absolute;
        @include center;
    }
}

.search{
    display: block;
    width: 348px;
    max-width: 100%;
    position: relative;
    margin-right: 30px;
    &__input{
        width: 100%;
        border-radius: 23px;
        padding: 13px 45px 14px 25px;
        border: 1px solid #c3c3c3;
        color: #999999;
        font-family: "Proxima Nova", sans-serif;
        font-size: 13px;
        font-weight: 400;
        line-height: 1;
    }
    &__submit{
        position: absolute;
        width: 45px;
        height: 45px;
        right: 0;
        top: 0;
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%2018%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M909.75%20110.75a.85.85%200%200%201-1.21%200l-4.02-4.01a7.72%207.72%200%201%201%201.21-1.21l4.02%204c.33.34.33.88%200%201.22zm-4.04-10.04a6%206%200%201%200-12%20.02%206%206%200%200%200%2012-.02z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23333%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-892%20-93)%22%2F%3E%3C%2Fsvg%3E') no-repeat center;
        border: none;
    }
}

.phone{
    position: relative;
    padding: 0 25px 0 5px;
    margin-right: 5px;
    a{
        color: #333333;
        font-family: "Proxima Nova", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        &:hover{
            color: #999999;
            text-decoration: none;
        }
    }
    &__dropdown{
        display: none;
        padding: 5px;
        position: absolute;
        top: 100%;
        width: 100% ;
        left: 0;
        list-style: none;
        background: #fff;
        border: 1px solid #c3c3c3;
        z-index: 9;

        li{
            margin-bottom: 5px;
        }
    }
}
.jsPhoneTriger{
    position: absolute;
    right: 0;
    top: -3px;
    width: 25px;
    height: 25px;
    &:before, &:after{
        @include pseudo;
        width: 6px;
        height: 1px;
        background: #333;
        top: 50%;
        @include trans;
        margin-top: -1px;
    }
    &:before{
        right: 8px;
        transform: rotate(-45deg);

    }
    &:after{
        transform: rotate(45deg);
        right: 12px;
    }
    &.open{
        &:before{
            transform: rotate(45deg);
        }
        &:after {
            transform: rotate(-45deg);
        }
    }
}
.call-back{
    margin-right: 50px;
}
.user-controls{
    &__item{
        display: inline-block;
        text-align: center;
        position: relative;
        + .user-controls__item{
            margin-left: 20px;
        }
    }
    &__item-icon{
        display: inline-block;
        width: 32px;
        height: 27px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        margin-bottom: 13px;
        position: relative;
    }
    &__itemt-title{
        height: 10px;
        color: #555555;
        font-size: 12px;
        font-weight: 400;
        line-height: 1;
    }
    &__item-in{
        width: 16px;
        height: 16px;
        background-color: #fb2539;
        border-radius: 50%;
        color: #ffffff;
        font-size: 10px;
        font-weight: 400;
        line-height: 16px;
        text-align: center;
        position: absolute;
        right: -6px;
        top: -4px;
    }
    &__item:hover{
        text-decoration: none;
        .user-controls__item-icon{

            animation-name: moveTop;
            animation-duration: .3s;
        }
    }
}
.header__bottom{
    height: 54px;
    background-color: #3c3f43;
}
.bottom-nav{
    overflow: hidden;
    .item-wrap{
        width:calc(100% - 234px);
        overflow: hidden;
    }
    &__icon{
        width: 27px;
        height: 19px;
        vertical-align: middle;
        display: inline-block;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

    }
    &__item{
        display: block;
        float: left;
        width: 25%;
        color: #ffffff;
        font-size: 13px;
        font-weight: 400;
        line-height: 52px;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        text-align: center;
        border-right: 1px solid #575b5f;
        span{
            display: inline-block;
            vertical-align: middle;
        }
        &_catagol{
            float: left;
            display: block;
            position: relative;
            width: 234px;
            padding: 19px 40px 19px 20px;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            line-height: 1;
            background-color: #fb2539;
            &:after{
                @include pseudo;
                width: 20px;
                height: 14px;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2214%22%20viewBox%3D%220%200%2020%2014%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M512%20177v-2h17v2zm4%206v-2h13v2zm-7%206v-2h20v2z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-509%20-175)%22%2F%3E%3C%2Fsvg%3E');
                @include trans;
            }
            &:hover{
                text-decoration: none;
                color: #ffffff;
                &:after {
                    right: 10px;
                }
            }
        }
        &:hover{
            color: #fff;
            .bottom-nav__icon{
                position: relative;
                animation: moveLeft .3s;
            }
        }
    }
}

/*header end*/